footer {
  border-top: 4px solid #ff4e50;
  margin-top: 27px; }

.logo--footer {
  font-size: 16px;
  color: #ff4e50;
  text-align: center;
  letter-spacing: 1px; }
  @media (max-width: 767px) {
    .logo--footer {
      display: block;
      margin-top: 17px; } }
  @media (max-width: 939px) and (min-width: 768px) {
    .logo--footer {
      margin-top: 39px;
      display: block;
      margin-left: 39px;
      float: left; } }
  @media (min-width: 940px) {
    .logo--footer {
      margin-top: 39px;
      display: block;
      margin-left: -2px;
      float: left; } }

@media (max-width: 767px) {
  .footer__company {
    margin-top: 16px;
    position: relative; } }

@media (max-width: 939px) and (min-width: 768px) {
  .footer__company {
    float: left;
    display: inline-block;
    margin: 39px 0 40px 81px; } }

@media (min-width: 940px) {
  .footer__company {
    float: left;
    display: inline-block;
    margin: 41px 0 40px 96px; } }

.footer__company p {
  display: block;
  text-align: center;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 14px;
  color: #333333; }

@media (max-width: 767px) {
  .footer__company ul {
    margin-top: 5px;
    width: 196px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0); } }

@media (min-width: 940px) {
  .footer__company ul {
    margin-top: 13px; } }

.footer__company li {
  font-family: "Roboto Light", sans-serif;
  font-size: 14px;
  color: #666666; }
  @media (max-width: 767px) {
    .footer__company li {
      display: inline-block;
      margin-left: 9px; } }
  @media (max-width: 939px) and (min-width: 768px) {
    .footer__company li {
      display: block;
      margin-top: 11.8px; } }
  @media (min-width: 940px) {
    .footer__company li {
      display: block;
      margin-top: 11.8px; } }

@media (max-width: 767px) {
  .footer__company li:first-child {
    margin-left: 0; } }

@media (min-width: 940px) {
  .footer__company li:first-child {
    margin-left: 0; } }

.footer__partners {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 16px;
  color: #333333;
  letter-spacing: -1px; }
  @media (max-width: 767px) {
    .footer__partners {
      text-align: center;
      margin-top: 35px; } }
  @media (max-width: 939px) and (min-width: 768px) {
    .footer__partners {
      display: inline-block;
      margin-left: 102px;
      margin-top: 39px;
      float: left; } }
  @media (min-width: 940px) {
    .footer__partners {
      display: inline-block;
      margin-left: 91px;
      margin-top: 39px;
      float: left; } }

@media (max-width: 767px) {
  .footer__copyright {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 15px;
    margin-bottom: 18px;
    text-align: center; } }

@media (max-width: 939px) and (min-width: 768px) {
  .footer__copyright {
    display: inline-block;
    margin-right: 40px;
    margin-top: 39px;
    float: right; } }

@media (min-width: 940px) {
  .footer__copyright {
    display: inline-block;
    margin-top: 39px;
    float: right; } }

.footer__copyright p {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 10px;
  color: #cccccc; }
  @media (max-width: 939px) and (min-width: 768px) {
    .footer__copyright p {
      margin-left: 31px; } }
  @media (min-width: 940px) {
    .footer__copyright p {
      margin-left: 31px; } }

.footer__copyright img {
  margin-top: 8px; }
