@charset "UTF-8";
@media (max-width: 767px) {
  #howitworks {
    margin-top: 37px; } }

@media (max-width: 939px) and (min-width: 768px) {
  #howitworks {
    margin-top: 97px; } }

@media (min-width: 940px) {
  #howitworks {
    margin-top: 97px; } }

.howitworks__header {
  text-align: center; }
  @media (max-width: 767px) {
    .howitworks__header {
      margin-bottom: 15px; } }
  @media (max-width: 939px) and (min-width: 768px) {
    .howitworks__header {
      margin-bottom: 35px; } }
  @media (min-width: 940px) {
    .howitworks__header {
      margin-bottom: 35px; } }
  .howitworks__header h2 {
    font-family: "Montserrat Bold", sans-serif;
    font-size: 22px;
    color: #333333; }

.howitworks__slider {
  position: relative;
  overflow: hidden; }
  @media (max-width: 767px) {
    .howitworks__slider {
      margin: 3px auto 8px;
      width: 300px; } }
  @media (max-width: 939px) and (min-width: 768px) {
    .howitworks__slider {
      float: left;
      margin: 0 10px;
      width: 236px; } }
  @media (min-width: 940px) {
    .howitworks__slider {
      float: left;
      margin-left: 20px;
      width: 300px; } }

.howitworks__slider:nth-child(2) {
  /*   .howitworks__slider:first-of-type не работает. Почему, Марианна???   */ }
  @media (min-width: 940px) {
    .howitworks__slider:nth-child(2) {
      margin-left: 0; } }

.howitworks__list {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0; }

.howitworks__item {
  float: left;
  z-index: 1; }
  @media (max-width: 767px) {
    .howitworks__item img {
      width: 300px;
      height: 240px; } }
  @media (max-width: 939px) and (min-width: 768px) {
    .howitworks__item img {
      width: 236px;
      height: 402px; } }
  @media (min-width: 940px) {
    .howitworks__item img {
      width: 300px;
      height: 400px; } }

.howitworks__paginator {
  top: 430px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0); }

.paginator__list {
  display: inline-block; }

.paginator__item {
  display: inline-block;
  margin: 0 5px 5px 0;
  width: 12px;
  height: 12px;
  background-color: white;
  cursor: pointer; }

.paginator__item--active {
  border: 2px solid white;
  background-color: black; }

.howitworks__text {
  position: absolute;
  left: 19px;
  width: 88%;
  z-index: 10; }

@media (max-width: 767px) {
  .howitworks__text--high {
    top: 70px; } }

@media (max-width: 939px) and (min-width: 768px) {
  .howitworks__text--high {
    top: 214px; } }

@media (min-width: 940px) {
  .howitworks__text--high {
    top: 230px; } }

@media (max-width: 767px) {
  .howitworks__text--low {
    top: 98px; } }

@media (max-width: 939px) and (min-width: 768px) {
  .howitworks__text--low {
    top: 260px; } }

@media (min-width: 940px) {
  .howitworks__text--low {
    top: 260px; } }

.howitworks__step {
  font-family: "Montserrat Regular", sans-serif;
  font-size: 10px;
  color: white;
  background-color: #ff4e50;
  line-height: 2;
  width: 75px;
  display: inline-block;
  text-align: center;
  letter-spacing: 2px; }

.howitworks__title {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 24px;
  color: white;
  margin-top: 16px;
  line-height: 1.2; }

.howitworks__description {
  font-family: "Roboto Light", sans-serif;
  font-size: 14px;
  color: #cccccc;
  margin-top: 13px;
  line-height: 1.2; }

.howitworks__prev, .howitworks__next {
  color: white;
  position: absolute;
  font-family: "Roboto Thin", sans-serif; }
  @media (max-width: 767px) {
    .howitworks__prev, .howitworks__next {
      top: 70px;
      font-size: 60px; } }
  @media (max-width: 939px) and (min-width: 768px) {
    .howitworks__prev, .howitworks__next {
      top: -17px;
      font-size: 140px; } }
  @media (min-width: 940px) {
    .howitworks__prev, .howitworks__next {
      top: 96px;
      font-size: 140px; } }

@media (max-width: 767px) {
  .howitworks__prev {
    left: 0; } }

@media (max-width: 939px) and (min-width: 768px) {
  .howitworks__prev {
    left: 10px; } }

@media (min-width: 940px) {
  .howitworks__prev {
    left: 10px; } }

@media (max-width: 767px) {
  .howitworks__next {
    right: 0; } }

@media (max-width: 939px) and (min-width: 768px) {
  .howitworks__next {
    right: 10px; } }

@media (min-width: 940px) {
  .howitworks__next {
    right: 10px; } }

.ie8 .howitworks__header {
  margin-bottom: 35px; }

.ie8 .howitworks__slider {
  float: left;
  margin-left: 20px;
  width: 290px; }

.ie8 .howitworks__slider:first-child {
  /*   .howitworks__slider:first-of-type не работает. Почему, Марианна???   */
  margin-left: 0; }

.ie8 .howitworks__item {
  float: left;
  z-index: 1;
  width: 290px; }
  .ie8 .howitworks__item img {
    height: 400px; }

.ie8 .howitworks__text--high {
  top: 230px; }

.ie8 .howitworks__text--low {
  top: 260px; }

.ie8 .howitworks__prev, .ie8 .howitworks__next {
  top: 96px;
  font-size: 140px; }

.ie8 .howitworks__prev {
  left: 10px; }

.ie8 .howitworks__next {
  right: 10px; }

.ie8 .howitworks__step {
  float: left; }

.ie8 .howitworks__left-corner {
  display: block;
  float: left;
  width: 11px; }

.ie8 .howitworks__right-corner {
  display: block;
  float: left;
  width: 11.5px; }
