@charset "UTF-8";
@media (max-width: 767px) {
  #partners {
    margin-top: 32px; } }

@media (max-width: 939px) and (min-width: 768px) {
  #partners {
    margin-top: 94px; } }

@media (min-width: 940px) {
  #partners {
    margin-top: 94px; } }

.partners__header {
  text-align: center; }
  @media (max-width: 767px) {
    .partners__header {
      margin-bottom: 10px;
      width: 98%; } }
  @media (max-width: 939px) and (min-width: 768px) {
    .partners__header {
      margin-bottom: 25px;
      width: 98%; } }
  @media (min-width: 940px) {
    .partners__header {
      margin-bottom: 25px;
      width: 100%; } }
  .partners__header h2 {
    font-family: "Montserrat Bold", sans-serif;
    font-size: 22px;
    color: #333333;
    line-height: 1.2; }

@media (max-width: 767px) {
  .partners__partner {
    margin-bottom: 25px; } }

@media (max-width: 939px) and (min-width: 768px) {
  .partners__partner {
    display: inline-block;
    width: 300px;
    height: 260px;
    margin-left: 104px;
    margin-right: -148px;
    position: relative; } }

@media (min-width: 940px) {
  .partners__partner {
    display: inline-block;
    width: 220px;
    height: 260px;
    margin-left: 16px;
    position: relative; } }

.partners__partner:nth-child(2) {
  /*.partners__partner:first-of-type{   не работает!!??????  */ }
  @media (min-width: 940px) {
    .partners__partner:nth-child(2) {
      margin-left: 0; } }

.partners__picture {
  height: 130px;
  width: 130px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0); }

.partners__foto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.partners__thumbnail {
  position: absolute;
  right: 0;
  bottom: 0; }

.partners__name {
  text-align: center;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 14px;
  color: #333333; }
  @media (max-width: 767px) {
    .partners__name {
      margin-top: 14px; } }
  @media (max-width: 939px) and (min-width: 768px) {
    .partners__name {
      margin-top: 16px; } }
  @media (min-width: 940px) {
    .partners__name {
      margin-top: 18px; } }

.partners__description {
  text-align: center;
  font-family: "Roboto Light", sans-serif;
  font-size: 14px;
  color: #666666;
  line-height: 1.2; }
  @media (max-width: 767px) {
    .partners__description {
      margin: 14px auto;
      width: 70%; } }
  @media (max-width: 939px) and (min-width: 768px) {
    .partners__description {
      width: 230px;
      height: 70px;
      display: block;
      margin-top: 15px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0); } }
  @media (min-width: 940px) {
    .partners__description {
      width: 216px;
      height: 70px;
      display: block;
      margin-top: 15px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0); } }

.partners__other {
  display: block;
  text-align: center;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 14px;
  margin: 0 auto;
  color: #ff4e50;
  border: 2px solid #ff4e50; }
  @media (max-width: 767px) {
    .partners__other {
      line-height: 36px;
      width: 86%; } }
  @media (max-width: 939px) and (min-width: 768px) {
    .partners__other {
      line-height: 36px;
      width: 190px;
      margin-top: 16px; } }
  @media (min-width: 940px) {
    .partners__other {
      line-height: 36px;
      width: 190px;
      margin-top: 20px; } }

.ie8 #partners {
  margin-top: 94px; }

.ie8 .partners__header {
  margin-bottom: 25px;
  width: 100%; }

.ie8 .partners__partner {
  display: block;
  float: left;
  width: 230px;
  height: 260px;
  position: relative; }

.ie8 .partners__picture {
  left: 0;
  margin-left: 50px; }

.ie8 .partners__foto {
  left: 0;
  top: 0; }

.ie8 .partners__name {
  margin-top: 18px;
  width: 230px; }

.ie8 .partners__description {
  width: 216px;
  height: 70px;
  display: block;
  margin-top: 15px; }

.ie8 .partners__wrapper-other {
  clear: both;
  margin: 0 auto;
  width: 250px; }

.ie8 .partners__other {
  float: left;
  line-height: 36px;
  width: 165px;
  border-left: none;
  border-right: none; }

.ie8 .partners__left-corner {
  display: block;
  float: left;
  width: 26px; }

.ie8 .partners__right-corner {
  display: block;
  float: left;
  width: 26px; }
