.wrapper {
  background-color: white; }

.container {
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

.border-around-22 {
  border-radius: 22px; }

#promo {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px; }
  @media (max-width: 767px) {
    #promo {
      background-image: url("../img/bg/promomobile.jpg");
      min-height: 540px; } }
  @media (max-width: 939px) and (min-width: 768px) {
    #promo {
      background-image: url("../img/bg/promotablet.jpg");
      min-height: 700px; } }

.promo__container {
  overflow: visible; }

.logo {
  font-family: "Montserrat Bold", sans-serif; }

.logo--header {
  font-size: 20px;
  letter-spacing: 1px;
  color: white; }
  @media (max-width: 767px) {
    .logo--header {
      top: 173px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0); } }
  @media (max-width: 939px) and (min-width: 768px) {
    .logo--header {
      position: absolute;
      top: 50px;
      left: 50px; } }

.promo__autorization {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 14px; }
  @media (max-width: 767px) {
    .promo__autorization {
      top: 23px;
      line-height: 2.3;
      width: 256px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0); } }
  @media (max-width: 939px) and (min-width: 768px) {
    .promo__autorization {
      position: absolute;
      top: 40px;
      right: 50px;
      line-height: 2.3;
      width: 204px; } }

.promo__login {
  color: white;
  text-align: center;
  float: left; }
  @media (max-width: 767px) {
    .promo__login {
      width: 84px;
      margin-left: 30px; } }
  @media (max-width: 939px) and (min-width: 768px) {
    .promo__login {
      width: 84px;
      margin-left: 30px; } }

.promo__signup {
  color: white;
  float: right;
  text-align: center; }
  @media (max-width: 767px) {
    .promo__signup {
      margin-right: 54px;
      width: 84px;
      margin-top: -2px; } }
  @media (max-width: 939px) and (min-width: 768px) {
    .promo__signup {
      width: 84px;
      margin-top: -2px; } }

.promo_title {
  text-align: center;
  font-family: "Montserrat Bold", sans-serif;
  width: 100%;
  color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0); }
  @media (max-width: 767px) {
    .promo_title {
      top: 223px;
      line-height: 1.2;
      font-size: 30px; } }
  @media (max-width: 939px) and (min-width: 768px) {
    .promo_title {
      top: 216px;
      line-height: 1.2;
      font-size: 52px; } }

.promo_subtitle {
  text-align: center;
  font-family: "Roboto Light", sans-serif;
  width: 70%;
  color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0); }
  @media (max-width: 767px) {
    .promo_subtitle {
      top: 304px;
      line-height: 1.2;
      font-size: 18px; } }
  @media (max-width: 939px) and (min-width: 768px) {
    .promo_subtitle {
      top: 364px;
      line-height: 1.2;
      font-size: 24px; } }

.promo__find {
  text-align: center;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 14px;
  color: white;
  background-color: #ff4e50;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0); }
  @media (max-width: 767px) {
    .promo__find {
      top: 363px;
      line-height: 2.9;
      width: 282px; } }
  @media (max-width: 939px) and (min-width: 768px) {
    .promo__find {
      top: 426px;
      line-height: 2.9;
      width: 224px; } }

.promo__active {
  border: white solid 2px; }
