.container {
  margin: 0 auto; }

#promo {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px; }
  @media (max-width: 767px), (max-device-width: 767px) {
    #promo {
      background-image: url("../img/bg/promomobile.jpg"); } }

.promo__container {
  position: relative; }

.logo {
  font-family: "Montserrat Bold", sans-serif; }

.logo--header {
  font-size: 1em; }
  @media (max-width: 767px), (max-device-width: 767px) {
    .logo--header {
      top: 40px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0); } }

@media (max-width: 767px), (max-device-width: 767px) {
  .promo__autorization {
    top: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0); } }

.logo--footer {
  font-size: 0.8em; }
