@media (max-width: 767px) {
  #searcher {
    margin-top: 27px; } }

@media (max-width: 939px) and (min-width: 768px) {
  #searcher {
    margin-top: 44px; } }

@media (min-width: 940px) {
  #searcher {
    margin-top: 44px; } }

.searcher__header {
  text-align: center; }
  @media (max-width: 767px) {
    .searcher__header {
      margin-bottom: 10px;
      width: 100%; } }
  @media (max-width: 939px) and (min-width: 768px) {
    .searcher__header {
      margin-bottom: 10px;
      width: 100%; } }
  @media (min-width: 940px) {
    .searcher__header {
      margin-bottom: 10px;
      width: 100%; } }
  .searcher__header h2 {
    font-family: "Montserrat Bold", sans-serif;
    font-size: 22px;
    color: #333333;
    line-height: 1.2; }
  .searcher__header h3 {
    font-family: "Roboto Light", sans-serif;
    font-size: 18px;
    color: #333333; }
    @media (max-width: 767px) {
      .searcher__header h3 {
        margin-top: 11px; } }
    @media (max-width: 939px) and (min-width: 768px) {
      .searcher__header h3 {
        margin-top: 31px; } }
    @media (min-width: 940px) {
      .searcher__header h3 {
        margin-top: 31px; } }

@media (max-width: 767px) {
  .searcher__controls {
    width: 284px;
    margin: 19px auto 39px; } }

@media (max-width: 939px) and (min-width: 768px) {
  .searcher__controls {
    width: 412px;
    margin: 40px auto 70px; } }

@media (min-width: 940px) {
  .searcher__controls {
    width: 412px;
    margin: 40px auto 70px; } }

.searcher__input {
  font-family: "Roboto Light", sans-serif;
  font-size: 14px;
  padding-left: 13px;
  color: #999999;
  height: 36px; }
  @media (max-width: 767px) {
    .searcher__input {
      width: 93%; } }
  @media (max-width: 939px) and (min-width: 768px) {
    .searcher__input {
      width: 222px; } }
  @media (min-width: 940px) {
    .searcher__input {
      width: 222px; } }

.searcher__search {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 14px;
  text-align: center;
  color: white;
  background-color: #ff4e50;
  line-height: 3; }
  @media (max-width: 767px) {
    .searcher__search {
      display: block;
      width: 99%;
      margin-top: 8px; } }
  @media (max-width: 939px) and (min-width: 768px) {
    .searcher__search {
      width: 163px;
      margin-left: 5px;
      display: inline-block; } }
  @media (min-width: 940px) {
    .searcher__search {
      width: 163px;
      margin-left: 5px;
      display: inline-block; } }

.ie8 #searcher {
  margin-top: 44px; }

.ie8 .searcher__header {
  margin-bottom: 10px;
  width: 100%; }
  .ie8 .searcher__header h3 {
    margin-top: 31px; }

.ie8 .searcher__controls {
  width: 412px;
  margin: 40px auto 70px; }

.ie8 .searcher__input {
  width: 222px;
  float: left;
  line-height: 36px; }

.ie8 .searcher__search {
  width: 163px;
  margin-left: 5px;
  display: inline-block; }
