<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>ДЗ Tech Skills JS Module 19-20</title>
    <link rel="stylesheet" href="css/final-exam.min.css" />
    <script src="js/jquery-1.12.2.min.js" type="text/javascript"></script>
    <script src="js/final_exam.min.js" type="text/javascript"></script>
</head>
<body>
    <div class="wrapper">
        <section id="promo">
            <div class="promo__container container">
                <a href="#" class="logo logo--header">URLAUBSGLÜCK</a>
                <div class="promo__autorization">
                    <a href="#" class="promo__login reference">Log in</a>
                    <a href="#" class="promo__signup reference promo__active">Sign up</a>
                </div>
                <h1 class="promo_title">Share your<br />holiday dreams</h1>
                <h3 class="promo_subtitle">And find the perfect partner to fullfill it</h3>
                <a href="#" class="promo__find reference">Find your holiday partner</a>
            </div>
        </section>
        <section id="howitworks">
            <div class="howitworks__container container">
                <h2 class="howitworks__header">How Urlaubsglück works?</h2>
                <script type="text/template" id="howitworks__template">
                    <% for(var i=0;i
                    <sliders.length ;i++) { %>
                        <div class="howitworks__slider howitworks__slider--<%=i+1%>">
                            <ul class="howitworks__list">
                                <% for(var j=0;j<sliders[i].length;j++) { %>
                                    <li class="howitworks__item">
                                        <img src="img/howitworks/<%= sliders[i].images[j].nameImage %>" alt="" />
                                        <a href="#" class="howitworks__step reference">Step&nbsp;<%=i+1%></a>
                                        <p class="howitworks__title"><%= sliders[i].images[j].title %></p>
                                        <p class="howitworks__text"><%= sliders[i].images[j].text %></p>
                                    </li>
                                <% } %>
                            </ul>
                            <a class="howitworks__prev" href="#">&lsaquo;</a>
                            <a class="howitworks__next" href="#">&rsaquo;</a>
                        </div>
                        <% } %>
                </script>
            </div>
        </section>
        <section id="partners">
            <div class="partners__container container">
                <h2 class="partners__header">Meet a partner for your best holiday</h2>
                <script type="text/template" id="partners__template">
                    <% for(var i=0;i<partners.length ;i++) { %>
                        <div class="partners__partner partners__partner--<%=i+1%>">
                            <img class="partners__foto" src="img/partners/partner-<%=i+1%>" alt="" />
                            <img class="partners__foto" src="img/partners/label-<%=i+1%>" alt="" />
                            <p class="partners__name"><%= partners[i].name %></p>
                            <p class="partners__text"><%= partners[i].text %></p>
                        </div>
                    <% } %>
                </script>
                <a href="#" class="partners__other reference">See other partners</a>
            </div>
        </section>
        <section id="ideas">
            <div class="ideas__container container">
                <h2 class="ideas__header">Discover holiday activity ideas</h2>
                <script type="text/template" id="ideas__template">
                    <% for(var i=0;i<ideas.length ;i++) { %>
                        <div class="ideas__picture ideas__picture--isbig<%=ideas[i].isbig%>">
                            <img class="ideas__foto" src="img/ideas/idea-<%=i+1%>" alt="" />
                            <p class="ideas__text"><%= ideas[i].text%></p>
                        </div>
                    <% } %>
                </script>
            </div>
        </section>
        <section class="searcher">
            <div class="searcher__container container">
                <h2 class="ideas__header">Discover holiday activity ideas</h2>
                <h3 class="ideas__subheader">Hi! What are your holiday interests?</h3>
                <div class="ideas__controls">
                    <input class="ideas__input" type="text" placeholder="Enter your interests" />
                    <a href="#" class="ideas__search reference">Search partners</a>
                </div>
            </div>
        </section>
        <footer>
            <div class="footer__container container">
                <a href="#" class="logo logo--footer">URLAUBSGLÜCK</a>
                <nav class="footer__company">
                    <p>Company</p>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </nav>
                <p class="footer__partners">Partners</p>
                <div class="footer__copyright"><p>Designed by</p><img  src="img/copyright.jpg" alt="" /></div>
            </div>
        </footer>
    </div>
</body>
</html>
