.gav-carousel-hider {
    overflow: hidden;
    float: left;
    text-align: center;
}
 
.gav-carousel-list {    
    list-style: none;
    width: 10000px;
    padding: 0px;
    position: relative;
}
 
.gav-carousel-element {
    display: block;
    margin-right: 1px;
    float: left;
}
 
.gav-carousel-element img {
    width: 100%;
}
 
.gav-carousel-arrow-left, .gav-carousel-arrow-right {
    float: left;
    display: block;
    border: 1px solid grey;
    border-radius: 58%;
    background-color: lightgrey;
    padding: 5px;
}
 
.gav-carousel-arrow-left:hover, .gav-carousel-arrow-right:hover {
    cursor: pointer;
    background-color: grey;
}
 
.gav-carousel-arrow-left {
    margin: 0 5px;
}
 
.gav-carousel-arrow-right {
    margin: 0 5px;
}