@import "variables.scss";
@import "mixins.scss";

footer{
    border-top: 4px solid $colorFooterBorder;
    @include breakpoint(mobile){
        margin-top: 27px;
    }
    @include breakpoint(tablet){
        margin-top: 27px;
    }
}
.logo--footer{
    display: block;
    font-size: 16px;
    color: $colorFooterLogo;
    text-align: center;
    @include breakpoint(mobile){
        margin-top: 17px;
        letter-spacing: 1px;
    }
    @include breakpoint(tablet){
        margin-top: 17px;
        letter-spacing: 1px;
    }
}
.footer__company{
    margin-top: 16px;
    position: relative;

    p{
        display: block;
        text-align: center;
        font-family: $fontFooterCompany;
        font-size: 14px;
        color: $colorFooterCompany;
    }

    ul{
        margin-top: 5px;
        width: 196px;
        @include centerer(true,false);
    }

    li{
        display: inline-block;
        font-family: $fontFooterItem;
        font-size: 14px;
        margin-left: 9px;
        color: $colorFooterItem;
    }
    li:first-child{
        margin-left: 0;
    }
}
.footer__partners{
    font-family: $fontFooterPartners;
    font-size: 16px;
    color: $colorFooterPartners;
    @include breakpoint(mobile){
        text-align: center;
        margin-top: 35px;
        letter-spacing: -1px;
    }
    @include breakpoint(tablet){
        text-align: center;
        margin-top: 35px;
        letter-spacing: -1px;
    }
}
.footer__copyright{
    @include breakpoint(mobile){
        @include centerer(true,false);
        margin-top: 15px;
        margin-bottom: 18px;
        text-align: center;
    }
    @include breakpoint(tablet){
        @include centerer(true,false);
        margin-top: 15px;
        margin-bottom: 18px;
        text-align: center;
    }
    p{
        font-family: $fontFooterDesigned;
        font-size: 10px;
        color: $colorFooterDesigned;
    }
    img{
        margin-top: 8px;
    }
}