@import "variables.scss";
@import "mixins.scss";

#howitworks{
    @include breakpoint(mobile){
        margin-top: 37px;
    }
    @include breakpoint(tablet){
        margin-top: 97px;
    }
    @include breakpoint(desktop){
        margin-top: 97px;
    }
}
.howitworks__header{
    text-align: center;
    @include breakpoint(mobile){
        margin-bottom: 15px;
    }
    @include breakpoint(tablet){
        margin-bottom: 35px;
    }
    @include breakpoint(desktop){
        margin-bottom: 35px;
    }
    h2{
        font-family: $fontHowitworksHeader;
        font-size: 22px;
        color: $colorHowitworksHeader;
    }
}
.howitworks__slider {
    position: relative;
    overflow: hidden; 
    @include breakpoint(mobile){
        margin: 3px auto 8px;
        width: 300px;
    }
    @include breakpoint(tablet){
        float: left;
        margin: 0 10px;
        width: 236px;
    }
    @include breakpoint(desktop){
        float: left;
        margin-left:20px;
        width: 300px;
    }
}
.howitworks__slider:nth-child(2){      /*   .howitworks__slider:first-of-type не работает. Почему, Марианна???   */
    @include breakpoint(desktop){
        margin-left: 0;
    }
}
.howitworks__list{
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0; 
}
.howitworks__item{
    float: left;
    z-index: 1; 
  
    img {
        @include breakpoint(mobile){
            width: 300px;
            height: 240px; 
        }
        @include breakpoint(tablet){
            width: 236px;
            height: 402px; 
        }
        @include breakpoint(desktop){
            width: 300px;
            height: 400px; 
        }
    }
}
.howitworks__paginator {  // not used in FinalExam
  top: 430px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0); 
}
.paginator__list {
  display: inline-block; 
}
.paginator__item {
  display: inline-block;
  margin: 0 5px 5px 0;
  width: 12px;
  height: 12px;
  background-color: white;
  cursor: pointer; }
.paginator__item--active {
  border: 2px solid white;
  background-color: black; }

.howitworks__text {
  position: absolute;
  left: 19px;
  width: 88%;
  z-index: 10; 
}
.howitworks__text--high {
    @include breakpoint(mobile){
            top: 70px;
    }
    @include breakpoint(tablet){
            top: 214px;
    }
    @include breakpoint(desktop){
            top: 230px;
    }
}
.howitworks__text--low {
    @include breakpoint(mobile){
            top: 98px;
    }
    @include breakpoint(tablet){
            top: 260px;
    }
    @include breakpoint(desktop){
            top: 260px;
    }
}

.howitworks__step{
    font-family:$fontHowitworksStep;
    font-size: 10px;
    color: $colorHowitworksStep;
    background-color: $colorHowitworksStepBG;
    line-height: 2;
    width: 75px;
    display: inline-block;
    text-align: center;
    letter-spacing: 2px;
}
.howitworks__title{
    font-family:$fontHowitworksTitle;
    font-size: 24px;
    color: $colorHowitworksTitle;
    margin-top: 16px;
    line-height: 1.2;
}
.howitworks__description{
    font-family:$fontHowitworksDescription;
    font-size: 14px;
    color: $colorHowitworksDescription;
    margin-top: 13px;
    line-height: 1.2;
}
.howitworks__prev,.howitworks__next{
    color: $colorHowitworksArrow;
    position: absolute;
    font-family: $fontHowitworksArrow;
    @include breakpoint(mobile){
        top: 70px;
        font-size: 60px;
    }
    @include breakpoint(tablet){
        top: -17px;
        font-size: 140px;
    }
    @include breakpoint(desktop){
        top: 96px;
        font-size: 140px;
    }
}
.howitworks__prev{
    @include breakpoint(mobile){
        left:0;
    }
    @include breakpoint(tablet){
        left:10px;
    }
    @include breakpoint(desktop){
        left:10px;
    }
}
.howitworks__next{
    @include breakpoint(mobile){
        right:0;
    }
    @include breakpoint(tablet){
        right:10px;
    }
    @include breakpoint(desktop){
        right:10px;
    }
}
.ie8{
    .howitworks__header{
        margin-bottom: 35px;
    }
    .howitworks__slider {
        float: left;
        margin-left:20px;
        width: 290px;
    }
    .howitworks__slider:first-child{      /*   .howitworks__slider:first-of-type не работает. Почему, Марианна???   */
        margin-left: 0;
    }
    .howitworks__item{
        float: left;
        z-index: 1; 
        width: 290px;
        img{
            height: 400px; 
        }
    }
    .howitworks__text--high {
        top: 230px;
    }
    .howitworks__text--low {
        top: 260px;
    }
    .howitworks__prev,.howitworks__next{
        top: 96px;
        font-size: 140px;
    }
    .howitworks__prev{
        left:10px;
    }
    .howitworks__next{
        right:10px;
    }
    .howitworks__step{
        float: left;
    }
    .howitworks__left-corner {
        display:block;
        float: left;
        width: 11px;
    }
    .howitworks__right-corner {
        display:block;
        float: left;
        width: 11.5px;
    }
}
