@import "variables.scss";
@import "mixins.scss";

#ideas{
    @include breakpoint(mobile){
        margin-top: 34px;
    }
    @include breakpoint(tablet){
        margin-top: 97px;
    }
    @include breakpoint(desktop){
        margin-top: 97px;
    }
}
.ideas__header{
    text-align: center;
    width: 100%;
    @include breakpoint(mobile){
        margin-bottom: 10px;
    }
    @include breakpoint(tablet){
        margin-bottom: 10px;
    }
    @include breakpoint(desktop){
        margin-bottom: 10px;
    }

    h2{
        font-family: $fontIdeasHeader;
        font-size: 22px;
        color: $colorIdeasHeader;
        line-height: 1.2;
        @include breakpoint(mobile){
        }
    }
}
.ideas__pictures{
    @include breakpoint(mobile){
        width: 300px;
        margin: 13px auto;
    }
    @include breakpoint(tablet){
        width: 748px;
        margin: 33px auto;
    }
    @include breakpoint(desktop){
        width: 940px;
        margin: 33px auto;
    }
}
.ideas__picture{
    @include breakpoint(mobile){
        margin-bottom: 10px;
    }
    @include breakpoint(tablet){
        margin-bottom: 20px;
    }
    @include breakpoint(desktop){
        margin-bottom: 20px;
    }
}
.ideas__picture--width2{
     @include breakpoint(tablet){
        margin-bottom: 20px;
    }
    @include breakpoint(desktop){
        margin-bottom: 20px;
    }
}
.ideas__foto{
    display: block;
    @include breakpoint(mobile){
        width: 300px;
        height:120px;
    }
    @include breakpoint(tablet){
        width: 236px;
        height:310px;
    }
    @include breakpoint(desktop){
        width: 300px;
        height:310px;
    }
}
.ideas__foto--width2{
    @include breakpoint(tablet){
        width: 492px;
    }
    @include breakpoint(desktop){
        width: 620px;
    }
}
.ideas__text{
    display: block;
    @include centerer;
    font-family: $fontIdeasText;
    font-size: 22px;
    color: $colorIdeasText;
}