@import "variables.scss";
@import "mixins.scss";

#partners{
    @include breakpoint(mobile){
        margin-top: 32px;
    }
    @include breakpoint(tablet){
        margin-top: 94px;
    }
    @include breakpoint(desktop){
        margin-top: 94px;
    }
}
.partners__header{
    text-align: center;
    @include breakpoint(mobile){
        margin-bottom: 10px;
        width: 98%;
    }
    @include breakpoint(tablet){
        margin-bottom: 25px;
        width: 98%;
    }
    @include breakpoint(desktop){
        margin-bottom: 25px;
        width: 100%;
    }
    h2{
        font-family: $fontPartnersHeader;
        font-size: 22px;
        color: $colorPartnersHeader;
        line-height: 1.2;
    }
}
.partners__partner{
    @include breakpoint(mobile){
        margin-bottom: 25px;
    }
    @include breakpoint(tablet){
        display: inline-block;
        width: 300px;
        height: 260px;
        margin-left: 104px;
        margin-right: -148px;
        position: relative;
    }
    @include breakpoint(desktop){
        display: inline-block;
        width: 220px;
        height: 260px;
        margin-left: 16px;
        position: relative;
    }
} 
.partners__partner:nth-child(2){      /*.partners__partner:first-of-type{   не работает!!??????  */
    @include breakpoint(desktop){
        margin-left: 0;
    }
}
.partners__picture{
    height: 130px;
    width: 130px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);    
}

.partners__foto{
    @include centerer;
}
.partners__thumbnail{
position: absolute;
    right: 0;
    bottom: 0;
}
.partners__name{
    text-align: center;
    font-family: $fontPartnersName;
    font-size: 14px;
    color: $colorPartnersName;
    @include breakpoint(mobile){
        margin-top: 14px;
    }
    @include breakpoint(tablet){
        margin-top: 16px;
    }
    @include breakpoint(desktop){
        margin-top: 18px;
    }
}
.partners__description{
    text-align: center;
    font-family: $fontPartnersDescription;
    font-size: 14px;
    color: $colorPartnersDescription;
    line-height: 1.2;
    @include breakpoint(mobile){
        margin: 14px auto;
        width: 70%;
    }
    @include breakpoint(tablet){
        width: 230px;
        height: 70px;
        display: block;
        margin-top: 15px;
        @include centerer(true,false);
    }
    @include breakpoint(desktop){
        width: 216px;
        height: 70px;
        display: block;
        margin-top: 15px;
        @include centerer(true,false);
    }
}
.partners__other{
    display: block;
    text-align:center;
    font-family: $fontPartnersOther;
    font-size: 14px;
    margin: 0 auto;
    color: #ff4e50;
    border: 2px solid #ff4e50;
    @include breakpoint(mobile){
        line-height: 36px;
        width: 86%;
    }
    @include breakpoint(tablet){
        line-height: 36px;
        width: 190px;
        margin-top: 16px;
    }
    @include breakpoint(desktop){
        line-height: 36px;
        width: 190px;
        margin-top: 20px;
    }
}

.ie8{
    #partners{
        margin-top: 94px;
    }
    .partners__header{
        margin-bottom: 25px;
        width: 100%;
    }
    .partners__partner{
        display: block;
        float: left;
        width: 230px;
        height: 260px;
        position: relative;
    }
    .partners__picture{
        left:0;
        margin-left:50px
     }
    .partners__foto {
        left: 0;
        top: 0;
    }
    .partners__name{
        margin-top: 18px;
        width: 230px;
    }
    .partners__description{
        width: 216px;
        height: 70px;
        display: block;
        margin-top: 15px;
    }
    .partners__other{
        clear: both;
        line-height: 36px;
        width: 190px;
        margin-top: 20px;
    }
}

