@import "variables.scss";
@import "mixins.scss";
.wrapper{
    background-color: $colorWrapperBG;
}
.container{
    margin: 0 auto;
}
.border-around-22{
    border-radius: 22px;
}
#promo{
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    @include breakpoint(mobile){
        background-image: url("../img/bg/promomobile.jpg");
        min-height: 540px;
    }
}
.promo__container{
    position: relative;
}
.logo{
    font-family: $fontLogo;
}
.logo--header{
    font-size: 20px;
    letter-spacing: 1px;
    @include breakpoint(mobile){
        top: 173px;
        color: $colorLogoHeader;
        @include centerer(true,false);
    }
}
.promo__autorization{
    @include breakpoint(mobile){
        top: 23px;
        font-family: $fontAutorization;
        font-size: 14px;
        line-height: 2.3;
        width: 80%;
        @include centerer(true,false)
    }
}
.promo__login{
    color: $colorLogin;
    @include breakpoint(mobile){
        width: 84px;
        text-align: center;
        float: left;
        margin-left: 30px;
    }
}
.promo__signup{
    color: $colorSignUp;
    @include breakpoint(mobile){
        margin-right: 54px;
        width: 84px;
        float: right;
        text-align: center;
        margin-top: -2px;
    }
}
.promo_title{
    text-align:center;
    font-family: $fontTitle;
    font-size: 30px;
    width: 100%;
    color: $colorTitle;
    @include centerer(true,false);
    @include breakpoint(mobile){
        top: 223px;
        line-height: 1.2;
    }
}
.promo_subtitle{
    text-align:center;
    font-family: $fontSubTitle;
    font-size: 18px;
    width: 75%;
    color: $colorSubTitle;
    @include centerer(true,false);
    @include breakpoint(mobile){
        top: 304px;
        line-height: 1.2;
    }
}
.promo__find{
    text-align:center;
    font-family: $fontPromoFind;
    font-size: 14px;
    width: 88%;
    color: $colorPromoFind;
    background-color: $colorPromoFindBG;
    @include centerer(true,false);
    @include breakpoint(mobile){
        top: 363px;
        line-height: 2.9;
    }
}
.promo__active{
    border: $colorPromoActive solid 2px;
}
