@import "variables.scss";
@import "mixins.scss";
.wrapper{
    background-color: $colorWrapperBG;
}
.container{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    @include breakpoint(mobile){
        width: 320px;
    }
    @include breakpoint(tablet){
        width: 768px;
    }
    @include breakpoint(desktop){
        width: 940px;
    }
} 
.border-around-22{
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border-radius: 22px;
    -ms-behavior: url(pie.htc);
}
#promo{
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    @include breakpoint(mobile){
        background-image: url("../img/bg/promomobile.jpg");
        min-height: 540px;
    }
    @include breakpoint(tablet){
        background-image: url("../img/bg/promotablet.jpg");
        min-height: 700px;
    }
    @include breakpoint(desktop){
        background-image: url("../img/bg/promodesktop.jpg");
        min-height: 700px;
    }
}
.promo__container{
    overflow: visible;
}
.logo{
    font-family: $fontLogo;
}
.logo--header{
    font-size: 20px;
    letter-spacing: 1px;
    color: $colorLogoHeader;
    @include breakpoint(mobile){
        top: 173px;
        @include centerer(true,false);
    }
    @include breakpoint(tablet){
        position:absolute;
        top: 50px;
        left: 50px;
    }
    @include breakpoint(desktop){
        position:absolute;
        top: 48px;
        left: 0 ;
    }
}
.promo__autorization{
    font-family: $fontAutorization;
    font-size: 14px;
    line-height: 2.3;
    @include breakpoint(mobile){
        top: 23px;
        width: 256px;
        @include centerer(true,false)
    }
    @include breakpoint(tablet){
        position: absolute;
        top: 40px;
        right: 50px;
        width: 204px;
    }
    @include breakpoint(desktop){
        position: absolute;
        top: 40px;
        right: 0;
        width: 204px;
    }
}
.promo__login{
    color: $colorLogin;
    text-align: center;
    float: left;
    width: 84px;
    margin-left: 30px;
}
.promo__signup{
    color: $colorSignUp;
    float: right;
    text-align: center;
    width: 84px;
    margin-top: -2px;
    @include breakpoint(mobile){
        margin-right: 54px;
    }
}
.promo_title{
    text-align:center;
    font-family: $fontTitle;
    width: 100%;
    color: $colorTitle;
    line-height: 1.2;
    @include centerer(true,false);
    @include breakpoint(mobile){
        top: 223px;
        font-size: 30px;
    }
    @include breakpoint(tablet){
        top: 216px;
        font-size: 52px;
    }
    @include breakpoint(desktop){
        top: 216px;
        font-size: 52px;
    }
}
.promo_subtitle{
    text-align:center;
    font-family: $fontSubTitle;
    width: 70%;
    color: $colorSubTitle;
    line-height: 1.2;
    @include centerer(true,false);
    @include breakpoint(mobile){
        top: 304px;
        font-size: 18px;
    }
    @include breakpoint(tablet){
        top: 364px;
        font-size: 24px;
    }
    @include breakpoint(desktop){
        top: 364px;
        font-size: 24px;
    }
}
.promo__find{
    text-align:center;
    font-family: $fontPromoFind;
    font-size: 14px;
    color: $colorPromoFind;
    background-color: $colorPromoFindBG;
    line-height: 2.9;
    @include centerer(true,false);
    @include breakpoint(mobile){
        top: 363px;
        width: 282px;
    }
    @include breakpoint(tablet){
        top: 426px;
        width: 224px;
    }
    @include breakpoint(desktop){
        top: 426px;
        width: 224px;
    }
}
.promo__active{
    border: $colorPromoActive solid 2px;
}


.ie8 {
    #promo{
        min-height:800px;
    }
    .bg{
        display:block;
        position: absolute;
        margin: 0 auto;
        width: 100%;
        height: 750px;
    }
    .container{
        width: 940px;
    }
    .promo__container{
        z-index: 5;
     }
    .logo--header{
        position:absolute;
        top: 48px;
        left: 0 ;
    }
    .promo__autorization{
        position: absolute;
        top: 40px;
        right: 0;
        width: 204px;
     }
    .promo__login{
        position: relative;
    }
    .promo_title{
        top: 216px;
        font-size: 52px;
        left: 0;
    }
    .promo_subtitle{
        top: 364px;
        font-size: 24px;
        left: 0;
        width: 100%;
    }
    .promo__find{
        top: 426px;
        left: 37%;
        width: 224px;
    }
    .promo__left-corner {
        position: absolute;
        top: 426px;
        width: 22.5px;
        left: 327px; 
        z-index: 5;
    }
    .promo__right-corner {
        position: absolute;
        top: 426px;
        width: 23.5px;
        left: 565px; 
        z-index: 5;
    }
    .promo__active{
        border-left:none;
        border-right:none;
        position:relative;
        z-index:1;
        background-color: transparent;
     }
    .promo__active:before {
        content:""; 
        position:absolute;
        z-index:50;
        top: -2px;
        bottom:0px;
        left:-15px;
        width:22px;
        height:37px;
        background:url('../img/ie8/left-white.png'); 
        background-repeat: no-repeat;
    }
    .promo__active:after {
        content:""; 
        position:absolute;
        z-index:50;
        top: -2px;
        bottom:0px;
        left:80px;
        width:22px;
        height:37px;
        background:url('../img/ie8/right-white.png'); 
        background-repeat: no-repeat;
    }
}