@import "variables.scss";
@import "mixins.scss";

#searcher{
    @include breakpoint(mobile){
        margin-top: 27px;
    }
    @include breakpoint(tablet){
        margin-top: 44px;
    }
    @include breakpoint(desktop){
        margin-top: 44px;
    }
}
.searcher__header{
    text-align: center;
    @include breakpoint(mobile){
        margin-bottom: 10px;
        width: 100%;
    }
    @include breakpoint(tablet){
        margin-bottom: 10px;
        width: 100%;
    }
    @include breakpoint(desktop){
        margin-bottom: 10px;
        width: 100%;
    }

    h2{
        font-family: $fontSearcherHeader;
        font-size: 22px;
        color: $colorSearcherHeader;
        line-height: 1.2;
    }

    h3{
        font-family: $fontSearcherSubHeader;
        font-size: 18px;
        color: $colorSearcherSubHeader;
        @include breakpoint(mobile){
            margin-top: 11px;
        }
        @include breakpoint(tablet){
            margin-top: 31px;
        }
        @include breakpoint(desktop){
            margin-top: 31px;
        }
    }
}
.searcher__controls{
    @include breakpoint(mobile){
        width: 284px;
        margin: 19px auto 39px;
    }
    @include breakpoint(tablet){
        width: 412px;
        margin: 40px auto 70px;
    }
    @include breakpoint(desktop){
        width: 412px;
        margin: 40px auto 70px;
    }
}
.searcher__input{
    font-family: $fontSearcherInput;
    font-size: 14px;
    padding-left: 13px;
    color: $colorSearcherInput;
    height: 36px;
    @include breakpoint(mobile){
        width: 93%;
    }
    @include breakpoint(tablet){
        width: 222px;
    }
    @include breakpoint(desktop){
        width: 222px;
    }
}
.searcher__search{
    font-family: $fontSearcherSearch;
    font-size: 14px;
    text-align: center;
    color: $colorSearcherSearch;
    background-color: $colorSearcherSearchBG;
    line-height: 3;
    @include breakpoint(mobile){
        display: block;
        width: 99%;
        margin-top: 8px;
    }
    @include breakpoint(tablet){
        width: 163px;
        margin-left: 5px;
        display: inline-block;
    }
    @include breakpoint(desktop){
        width: 163px;
        margin-left: 5px;
        display: inline-block;
    }
}

.ie8{
    #searcher{
        margin-top: 44px;
    }
    .searcher__header{
        margin-bottom: 10px;
        width: 100%;
        h3{
                margin-top: 31px;
        }
    }
    .searcher__controls{
        width: 412px;
        margin: 40px auto 70px;
    }
    .searcher__input{
        width: 222px;
        float: left;
        line-height: 36px;
    }
    .searcher__search {
        width: 120px;
        float: left;
        display: inline-block;
    }
    .searcher__left-corner {
        display:block;
        float: left;
        width: 23px;
        margin-left: 5px;
    }
    .searcher__right-corner {
        display:block;
        float: left;
        width: 24px;
    }
}
