// colors 
$colorWrapperBG:                white;
$colorLogoHeader:               white;
$colorLogin:                    white;
$colorSignUp:                   white;
$colorTitle:                    white;
$colorSubTitle:                 white;
$colorPromoFind:                white;
$colorPromoFindBG:              #ff4e50;
$colorPromoActive:              white;

$colorHowitworksHeader:         #333333;

// size 


// fonts 
$fontLogo:                      'Montserrat Bold',sans-serif;
$fontAutorization:              'Montserrat Bold',sans-serif;
$fontTitle:                     'Montserrat Bold',sans-serif;
$fontSubTitle:                  'Roboto Light',sans-serif;
$fontPromoFind:                 'Montserrat Bold',sans-serif;
$fontHowitworksHeader:          'Montserrat Bold',sans-serif;
