// colors 
$colorWrapperBG:                white;
$colorLogoHeader:               white;
$colorLogin:                    white;
$colorSignUp:                   white;
$colorTitle:                    white;
$colorSubTitle:                 white;
$colorPromoFind:                white;
$colorPromoFindBG:              #ff4e50;
$colorPromoActive:              white;

$colorHowitworksHeader:         #333333;
$colorHowitworksStep:           white;
$colorHowitworksStepBG:         #ff4e50;
$colorHowitworksTitle:          white;
$colorHowitworksDescription:    #cccccc;
$colorHowitworksArrow:          white;

$colorPartnersHeader:           #333333;
$colorPartnersName:             #333333;
$colorPartnersDescription:      #666666;
$colorPartnersOther:            #ff4e50;
$colorPartnersOtherBorder:      #ff4e50;

$colorIdeasHeader:              #333333;
$colorIdeasText:                white;

$colorSearcherHeader:           #333333;
$colorSearcherSubHeader:        #333333;
$colorSearcherInput:            #999999;
$colorSearcherSearch:           white;
$colorSearcherSearchBG:         #ff4e50;

$colorFooterBorder:             #ff4e50;
$colorFooterLogo:               #ff4e50;
$colorFooterCompany:            #333333;
$colorFooterItem:            #666666;

// size 


// fonts 
$fontLogo:                      'Montserrat Bold',sans-serif;
$fontAutorization:              'Montserrat Bold',sans-serif;
$fontTitle:                     'Montserrat Bold',sans-serif;
$fontSubTitle:                  'Roboto Light',sans-serif;
$fontPromoFind:                 'Montserrat Bold',sans-serif;

$fontHowitworksHeader:          'Montserrat Bold',sans-serif;
$fontHowitworksStep:            'Montserrat Regular',sans-serif;
$fontHowitworksTitle:           'Montserrat Bold',sans-serif;
$fontHowitworksDescription:     'Roboto Light',sans-serif;
$fontHowitworksArrow:           'Roboto Thin',sans-serif;

$fontPartnersHeader:            'Montserrat Bold',sans-serif;
$fontPartnersName:              'Montserrat Bold',sans-serif;
$fontPartnersDescription:       'Roboto Light',sans-serif;
$fontPartnersOther:             'Montserrat Bold',sans-serif;

$fontIdeasHeader:               'Montserrat Bold',sans-serif;
$fontIdeasText:                 'Montserrat Bold',sans-serif;

$fontSearcherHeader:            'Montserrat Bold',sans-serif;
$fontSearcherSubHeader:         'Roboto Light',sans-serif;
$fontSearcherInput:             'Roboto Light',sans-serif;
$fontSearcherSearch:            'Montserrat Bold',sans-serif;

$fontFooterCompany:             'Montserrat Bold',sans-serif;
$fontFooterItem:                'Roboto Light',sans-serif;

