* {
    margin: 0;
    padding: 0;
}

/*       элементы карусели     */
.wrapper-jcarousel{
    width: 500px;
    margin: 10px auto;
    position: relative;
}
.jcarousel {
    margin:0 auto;
    width: 500px;
    height: 500px;
    overflow:hidden;
}
.jcarousel__list {
    width: 20000em;
    position: relative;

    list-style: none;
    margin: 0;
    padding: 0;
}
.jcarousel__item {
    /* Required only for block elements like <li>'s */
    float: left;
    z-index: 1;
}

/*        управление каруселью       */
.jcarousel__prev,
.jcarousel__next{
    position: absolute;
    z-index: 5;
    top: 250px;
    background-color: black;
    color: white;
    border: 2px solid lightblue;
    border-radius: 56px;
    height: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}
.jcarousel__prev{
    left: 10px;
}
.jcarousel__next {
    right: 10px;
}
.jcarousel__prev,
.jcarousel__next.inactive{
    cursor: default;
}
.jcarousel__paginator {
    position: absolute;
    top: 470px;
    left: 177px;
}
.paginator__list{
    display: inline-block;
}
.paginator__item{
    display: inline-block;
    margin: 0 5px 5px 0;
    width: 12px;
    height: 12px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}
.paginator__item--active{
    border: 2px solid white;
    background-color: black;
}
.paginator__item:active {
    border: 2px solid yellow;
    background-color: black;
}


/*   выпадающий список         */
.wrapper-select{
    margin: 10px auto;
    width: 500px;
    text-align: center;
}
.new-sumoselect {
    display: block;
}
.SumoSelect.open > .optWrapper{
    background-color: lightgray;
}
.SumoSelect > .CaptionCont{
    background-color: aqua;
}


/*   checkBox         */

.form-variant-jquery {
    margin: 50px auto;
    background: #99CCFF;
    padding: 10px;
    width: 340px;
}
.with-jquery,.without-jquery{
    width: 150px;
    display: inline-block;
    margin-left: 10px;
}
.jq-niceCheck{
    width: 17px;
    height: 17px;
    display: block;
    margin-bottom: 10px;
    margin-left: 5px;
    cursor: pointer;
    background: url(../img/checkbox.png);
    background-position: 0 0;
    white-space: pre;
}
.jq-niceCheck input {
    display: none;
}
.jq-niceCheckDisabled{
    background: url(../img/checkbox-disabled.png);
}
.jq-niceChecked {
    background-position: 0 -17px;
}
.css-niceCheck {
    display: block;
    margin-left: 5px;
    margin-bottom: 8px;
}
.css-niceCheck input[type="checkbox"] {
     -webkit-appearance: none;
     background: url('../img/checkbox.png') no-repeat;
     background-position: 0 0;   
     width: 17px;
     height: 17px;
     vertical-align: middle;
}
.css-niceCheck input[type="checkbox"]:disabled{
    background: url(../img/checkbox-disabled.png);
}
.css-niceCheck input[type="checkbox"]:checked {
    background-position: 0 -17px;   
}


/*   menu         */
.horizontal-menu {
    background-color: rgb(255,100,100);
    padding: 10px 0;
    margin: 50px auto;
    width: 500px;
}
.main-menu{
     list-style-type: none;
     list-style-position: outside;
     position: relative;
     line-height: 2;
}
.menu__menuitem{
    position:relative;
}
.menu__menuitem--main{
    display: inline-block;
    margin-left: 40px;
    text-align: center;
}
.sub-menu {
    position:absolute;
    width: 120px;
    background-color: rgb(225,75,75);
    top: auto;
}
.menu__menuitem a{
    color: white;
    text-decoration: none;
    display: block;
}
.menu__menuitem--sub{
    display: block;
    float:left;
    width: 100%;
    text-align: left;
    padding: 0 5px;
}
.menu__menuitem--sub a {
    border-bottom: solid black 1px;
    width: 95%;
}
.menu__menuitem--sub:last-child a {
    border-bottom: none;
}




/*

.menuitem__dropdown > a{
    background-position: right 7px;
    background-repeat: no-repeat;
    text-decoration: none;
    margin: 0 10px;       */          /*   здесь будет стрелка для субменю*/
/*    padding: 0 10px;
}
.menuitem__dropdown--main > a{
    background-image: url('../img/arrow-down.png');
}
.menuitem__dropdown--sub > a{
    background-image: url('../img/arrow-right.png');

}
.menu__menuitem--sub a{
/*    width: 140px;*/
}


.menu--hidden{
    opacity: 0;
}
.content{
    margin: 10px auto;
    width: 500px;
}*/
