* {
    margin: 0;
    padding: 0;
}

/*       элементы карусели     */
.wrapper-jcarousel{
    width: 500px;
    margin: 10px auto;
    position: relative;
}
.jcarousel {
    margin:0 auto;
    width: 500px;
    height: 500px;
    overflow:hidden;
}
.jcarousel__list {
    width: 20000em;
    position: relative;

    list-style: none;
    margin: 0;
    padding: 0;
}
.jcarousel__item {
    /* Required only for block elements like <li>'s */
    float: left;
    z-index: 1;
}

/*        управление каруселью       */
.jcarousel__prev,
.jcarousel__next{
    position: absolute;
    z-index: 5;
    top: 250px;
    background-color: black;
    color: white;
    border: 2px solid lightblue;
    border-radius: 56px;
    height: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}
.jcarousel__prev{
    left: 10px;
}
.jcarousel__next {
    right: 10px;
}
.jcarousel__prev,
.jcarousel__next.inactive{
    cursor: default;
}
.jcarousel__paginator {
    position: absolute;
    top: 470px;
    left: 177px;
}
.paginator__list{
    display: inline-block;
}
.paginator__item{
    display: inline-block;
    margin: 0 5px 5px 0;
    width: 12px;
    height: 12px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}
.paginator__item--active{
    border: 2px solid white;
    background-color: black;
}
.paginator__item:active {
    border: 2px solid yellow;
    background-color: black;
}


/*   выпадающий список         */
.wrapper-select{
    margin-left: 500px;
}
.new-sumoselect {
    margin: 10px auto;
    display: block;
}
.SumoSelect.open > .optWrapper{
    background-color: lightgray;
}
.SumoSelect > .CaptionCont{
    background-color: aqua;
}