body {
    width: 100%;
    height: 100%;
    min-width: 1000px;
}
.wrapper{
    width: 100%;
    height: 100%;
}
.header{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
}
.header__background{
    height: 100%;
    width: 100%;
    z-index: 1;
    min-width: 1000px;
}
.header__bgr-image{
    height: 100%;
    width: 100%;
    position: absolute;
}
.header__container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
}





.header-old{
    max-width: 2400px;
    padding-top: 36.21%;  /* =869px/2400 px = 0.36208 */
    background-image: url('../img/bgr_landscape.jpg');
    background-size: cover;
    background-position: center;  /* Internet Explorer 7/8 */
}

.logo{
    margin: -33.7% 31%;
}
.logo-text{
    font-family: 'League Gothic Regular', 'Arial Regular', Arial, sans-serif;
    float: left;
}
.begin-logo{
    color: white;
    text-shadow: 0 10.5 10.5 rgba(0, 0, 0, 0.3);
}
.end-logo{
    background: linear-gradient(0deg, rgb(50, 37, 57) 0%,rgb(83, 59, 94) 50% , rgb(116, 80, 131) 100%);
    -webkit-background-clip: text;  
    color: transparent;
}
.main-nav{
    margin-left: 29%;
}
.main-nav__menuitem{
    font-family: 'League Gothic Regular', 'Arial Regular', Arial, sans-serif;
    color: white;
    margin-left: 5.2%;
}
.main-nav__menuitem:hover{
    border-bottom: solid #edbfff;
    border-bottom-width: 1px;
    cursor: pointer;
}

.sliders__opacity{
    padding-top: 15%;
    margin-top: 41%;
    background-color: black;
    opacity: 0.2;
}
.sliders__arrow {
    display: block;
    background-size: cover;
    width: 1.3%;
    margin-top: -9%;
    padding-top: 1.9%;
}
.sliders__arrow--left {
    background-image: url('../img/left-slider-arrow.png');
    margin-left: 16%;
}
.sliders__arrow--right {
    background-image: url('../img/right-slider-arrow.png');
    margin-left: 83%;
}
.sliders__article {
    display: inline-block;
}
.sliders__article--header{
    font-family: 'League Gothic Regular', 'Arial Regular', Arial, sans-serif;
    color: #fefefe;
}
.sliders__article--subheader{
    font-family: 'League Gothic Regular', 'Arial Regular', Arial, sans-serif;
    color: #edbfff;
}
.sliders__article--content{
    font-family: 'Open Sans Light',  sans-serif;
    color: #fff;
}







.logo:after,.sliders:after{
    clear:both;
    content: '';
    display:block;
}

@media screen and (min-width: 960px) {
    .logo-text{
        font-size: 24px;
    }    
    .main-nav__menuitem{
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
    .logo-text{
        font-size: 18px;
    }    
    .main-nav__menuitem{
        font-size: 9px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .logo-text{
        font-size: 12px;
    }    
    .main-nav__menuitem{
        font-size: 6px;
    }
}

@media screen and (min-width: 300px) and (max-width: 499px) {
    .logo-text{
        font-size: 6px;
    }    
    .main-nav__menuitem{
        font-size: 4px;
    }
}
