body {
    font: 12px/18px Tahoma, Arial, Verdana, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 18px;
    font-family: Tahoma, Arial, Verdana, sans-serif;
    height: 100%;
    color: black;
    background: white;
}






.content:after,blurbs:after,feedback:after,recentnews:after{
    clear:both;
    content: '';
    display:block;
}

/*
@media screen and (min-width: 960px) {
    .logo-text{
        font-size: 255%;  
    }    
    .main-nav__menuitem{
        font-size: 127%;
    }
    .sliders__article--header{
        font-size: 300%;    
    }
    .sliders__article--subheader{
        font-size: 150%;    
    }
    .sliders__article--content{
        font-size: 84%;    
    }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
    .logo-text{
        font-size: 18px;
    }    
    .main-nav__menuitem{
        font-size: 9px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .logo-text{
        font-size: 12px;
    }    
    .main-nav__menuitem{
        font-size: 6px;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    .logo-text{
        font-size: 6px;
    }    
    .main-nav__menuitem{
        font-size: 4px;
    }
}
*/

@media screen and (min-width: 960px) and (max-width: 1050px) {
    .wrapper{
        max-width:1050px;
        margin: 0 auto;
        overflow: hidden;
    }
    .header{
        position:relative;
        width: 100%;
        height: auto !important;
    /*    background-color:red;*/
    }
    .header__container{
        width: 100%;
        background-image: url("../img/bgr_landscape.jpg");
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0% 0%;
        height: 379px;
    }
    .logo-text{
        position:absolute;
        font-family: 'League Gothic Regular', 'Arial Regular', Arial, sans-serif;
        font-size: 165%;
        top: 8%;
        left: 30%;
    }    
    .begin-logo{
        color: white;
        text-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.3);
    }
    .end-logo{
        background: linear-gradient(0deg, rgb(50, 37, 57) 0%,rgb(83, 59, 94) 50% , rgb(116, 80, 131) 100%);
        -webkit-background-clip: text;  
        color: transparent;
    }
    .main-nav--header {
        position:absolute;
        left: 43%;
        top: 7%;
    }
    .main-nav__menuitem{
        font-family: 'League Gothic Regular', 'Arial Regular', Arial, sans-serif;
        color: white;
    }
    .main-nav__menuitem--header{
        font-size: 110%;
        margin-right: 1.5%;
        margin-left: 3.4%;
    }
    .main-nav__menuitem:hover{
        cursor: pointer;
    }
    .main-nav__menuitem--header:hover{
        border-bottom: solid #edbfff;
        border-bottom-width: 1px;
    }
    .sliders{
        width: 100%;
        height: 100%;
    }
    .sliders__opacity{
        position:absolute;
        z-index: 0;
        background-color: rgba(0,0,0,0.2);
        left: 0;
        top: 32%;
        height: 46%;
        width:100%;
    }
    .sliders__arrow {
        position: absolute;
        width: 1.2%;
        top: 52.3%;
    }
    .sliders__arrow--left {
        left: 16.5%;
    }
    .sliders__arrow--right {
        left: 82%;
    }
    .sliders__article {
        position: absolute;
        width: 25%;
        left: 24%;
        top: 42%;
    }
    .sliders__article--header {
        font-family: 'League Gothic Regular', 'Arial Regular', Arial, sans-serif;
        color: #fefefe;
        position: relative;
        display: block;
        width: 100%;
        font-size: 222%;
    }
    .sliders__article--subheader {
        font-family: 'League Gothic Regular', 'Arial Regular', Arial, sans-serif;
        color: #edbfff;
        position: relative;
        display: block;
        font-size: 116%;
        margin-top: 0.5%;
        width: 100%;
    }
    .sliders__article--content {
        font-family: 'Open Sans Light', sans-serif;
        color: #fff;
        display: block;
        position: relative;
        font-size: 71%;
        line-height: 139%;
        width: 93%;
    } 
    .sliders__ipfone--back {
        position: absolute;
        width: 5%;
        left: 56%;
        top: 39%;
    }
    .sliders__ipfone--front {
        position: absolute;
        z-index: 5;
        width: 8%;
        left: 59%;
        top: 30%;
    }
    .sliders__play {
        position: absolute;
        z-index: 10;
        width: 3%;
        left: 61.5%;
        top: 47%;
    }
    .sliders__points {
        position: absolute;
        list-style: none;
        height: auto;
        top: 84%;
        left: 59.6%;
        width: 10%;
    }
    .sliders__point {
        position: relative;
        display: inline-block;
        width: 6%;
        height: 100%;
    }
    .sliders__radio{
        margin-left: 0%;
    }

    .content{
        margin-top: -1%;
        position: relative;
        width: 100%;
    }
    .blurbs {
        position: relative;
        overflow: hidden;
        padding: 0px 29%;
        background-image: linear-gradient(#745083 0%,#6a4a78 20%,#50395a 60%,#38293f 90%,#33253a 100%);
    }
    .blurbs__column {
        position: relative;
        margin-top: 7.5%;
        width: 29%;
    }
    .blurbs__column--left {
        float: left;
        margin-left: 4%;
    }
    .blurbs__column--center {
        float: left;
        margin-left: 4%;
    }
    .blurbs__column--right {
        float: left;
        margin-left: 5%;
    }
    .blurbs__picture {
        float: left;
        width: 8%;
        height: 13px;
        margin-top: 4%;
        background-image: url('../img/sprite.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .blurbs__picture--wrench {
        background-position-x: left;
    }
    .blurbs__picture--footnote{
        background-position-x: center;
    }
    .blurbs__picture--note{
        background-position-x: right;
    }
    .blurbs__text {
        float: right;
        width: 83%;
    }
    .blurbs__text--header {
        font-family: 'League Gothic Regular', sans-serif;
        font-size: 110%;
        color: white;
        text-shadow: 0.5px 0.9px 0 #0f1518;
    }
    .blurbs__text--content {
        font-family: 'Open Sans Light', sans-serif;
        font-size: 60%;
        line-height: 1.5;
        margin-top: 4%;
        color: white;
        text-shadow: 0.5px 0.9px 0 #0f1518;
    }
    .blurbs__text--footer {
        font-family: 'League Gothic Regular', sans-serif;
        font-size: 65%;
        text-align: right;
        margin-top: 3%;
        margin-right: 11%;
        margin-bottom: 24%;
        color: white;
        text-shadow: 0.5px 0.9px 0 #0f1518;
    }

    .feedback{
        position: relative;
        overflow: hidden;
        padding: 0px 30%;
        background-color: #f9f9f9;
        border-bottom: 1px solid rgb(230,230,230);
    }
    .feedback__opacitystrip{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1%;
        background-color: rgba(217,217,217,0.5);
    }
    .testimonials{
        float: left;
        width: 45%;
        margin-top: 9%;
        z-index: 0;
        margin-left: 3%;
    }
    .testimonials__foto{
        position: absolute;
        width: 2%;
        left: 30%;
        top: 28%;
        z-index: 5;
    }
    .testimonial{
        position: relative;
        padding-left: 7%;
        background-color: white;
        z-index: 1;
        margin-top: 8%;
    }
    .testimonial__header{
        font-family: 'League Gothic Regular', sans-serif;
        font-size: 135%;
        margin-top: 3%;
    }
    .testimonial__text{
        font-family: 'Open Sans Light', sans-serif;
        font-size: 70%;
        line-height: 1.2;
    }
    .testimonial__header--begin{
        display: inline;
        color: #454545;
    }
    .testimonial__header--end{
        display: inline;
        color: #edbfff;
    }
    .testimonial__navigation{
        list-style: none;
        margin: 8% auto;
        width: 25%;
    }
    .testimonial__point{    
        position: relative;
        display: inline-block;
        width: 18%;
    }
    .blogs{
        float: right;
        width: 50%;
        color: #454545;
        margin-top: 11.7%;
        margin-left: 1%;
        margin-bottom: 8.5%;
    }
    .blogs__header {
        text-shadow: 0.5px 0.9px 0 white;
        color: #454545;
        font-family: 'League Gothic Regular', sans-serif;
        font-size: 106%;
        font-weight: 400;
        line-height: 2;
        margin-left: 6%;
    }
    .blog {
        position: relative;
        margin-top: 3%;
    }
    .blog__foto {
        position: absolute;
        width: 10%;
        left: 6%;
        top: -18%;
    }
    .blog__header{
        font-family: 'Open Sans Extra Bold', sans-serif;
        font-size: 55%;
        margin-left: 20%;
        line-height: 0.2;
    }
    .blog__text{
        font-family: 'Open Sans Light', sans-serif;
        font-size: 47%;
        color: #454545;
        letter-spacing: -0.3px;
        margin-left: 20%;
        margin-bottom: 5%;
    }
    .blogs__footer{
        font-family: 'League Gothic Regular', sans-serif;
        font-size: 70%;
        margin-top: -6%;
        margin-right: 4%;
        text-align: right;
    }

    .logostrip{
        position: relative;
        padding-left: 34%;
        background-color: #f9f9f9;
        border-top: 1px solid rgb(254,254,254);
    }
    .logostrip__picture{
        width: 49%;
        margin-top: 1.5%;
        margin-bottom: 1.5%;
    }

    .recentnews{
        border-top: 1px solid rgb(216,216,216);
        background-color: rgb(236,236,236);
        padding: 4% 28%;
        overflow: hidden;
    }
    .own-info{
        float: left;
        width: 30%;
        margin-left: 4%;
    }
    .own-info__header{
        font-family: 'League Gothic Regular', sans-serif;
        font-size: 135%;
    }
    .own-info__header--begin{
        text-shadow: 0 1px 0 white;
        color: #454545;
        display: inline;
    }
    .own-info__header--end{
        text-shadow: 0 1px 0 white;
        color: #b9b9b9;
        display: inline;
    }
    .own-info__subheader{
        text-shadow: 0.5px 0.9px 0 white;
        color: #c5c5c5;
        font-family: Georgia;
        font-size: 70%;
        font-style: italic;
    }
    .own-info__text,.recent__text,.news__text{
        text-shadow: 0.5px 0.9px 0 white;
        color: #787878;
        font-family: "Open Sans";
        font-size: 54%;
        line-height: 1.7;
    }
    .recent{
        float: left;
        width: 30%;
        margin-left: 3%;
    }
    .recent__header, .news__header{
        font-family: 'League Gothic Regular', sans-serif;
        font-size: 110%;
        text-shadow: 0.5px 0.9px 0 white;
        color: #454545;
        margin-top: -1%;
    }
    .news--first{
        float: right;
        width: 32%;
        margin-left: 1%;
    }
    .news--second,news--third{
        display: none;
    }

    .footer{
        background-image: url(../img/bg-footer.png);
        padding: 0 30%;
        position: relative;
        overflow: hidden;
    }
    .footer__shadow{
        position: absolute;
        left: 30%;
        right: 30%;
        top: 0;
        bottom: 98%;
        background-image: url(../img/bg-footer-shadow.png);
    }
    .main-nav--footer{
        float: left;
        width: 70%;
        margin-top: 3%;
        margin-bottom: 5%;
    }
    .main-nav__menuitem--footer {
        margin-right: 3%;
    }
    .footer__copyright{
        float: right;
        font-size: 40%;
        width: 20%;
        text-align: right;
        color: white;
        line-height: 4.5;
        margin-top: 3.5%;
    }
    .footer__copyright--begin{
        font-family: 'Open Sans Light', Arial, sans-serif;
        display: inline;
    }
    .footer__copyright--end{
        font-family: 'Open Sans Extra Bold', Arial, sans-serif;
        display: inline;
    }
}
@media screen and (min-width: 768px) and (max-width: 959px){
    .wrapper{
        max-width:1050px;
        margin: 0 auto;
        overflow: hidden;
    }
    .header{
        position:relative;
        width: 100%;
        height: auto !important;
    }
    .header__container{
        width: 100%;
        background-image: url("../img/bgr_landscape.jpg");
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0% 0%;
        height: 360px;
    }
    .logo-text{
        position: absolute;
        font-family: 'League Gothic Regular', 'Arial Regular', Arial, sans-serif;
        font-size: 165%;
        top: 8%;
        left: 35%;
    }    
    .begin-logo{
        color: white;
        text-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.3);
    }
    .end-logo{
        background: linear-gradient(0deg, rgb(50, 37, 57) 0%,rgb(83, 59, 94) 50% , rgb(116, 80, 131) 100%);
        -webkit-background-clip: text;  
        color: transparent;
    }
    .main-nav--header {
        position: absolute;
        left: 34.1%;
        top: 16%;
    }
    .main-nav__menuitem{
        font-family: 'League Gothic Regular', 'Arial Regular', Arial, sans-serif;
        color: white;
    }
    .main-nav__menuitem--header{
        font-size: 110%;
        margin-right: 1.5%;
        margin-left: 3.4%;    
    }
    .main-nav__menuitem:hover{
        cursor: pointer;
    }
    .main-nav__menuitem--header:hover{
        border-bottom: solid #edbfff;
        border-bottom-width: 1px;
    }
    .sliders{
        width: 100%;
        height: 100%;
    }
    .sliders__opacity{
        position: absolute;
        z-index: 0;
        background-color: rgba(0,0,0,0.2);
        left: 0;
        top: 30%;
        height: 48%;
        width: 100%;
    }
    .sliders__arrow {
        position: absolute;
        width: 1.2%;
        top: 52.3%;
    }
    .sliders__arrow--left {
        left: 34%;
    }
    .sliders__arrow--right {
        left:  65%;
    }
    .sliders__article {
        position: absolute;
        width: 18%;
        left: 30.5%;
        top: 42%;
    }
    .sliders__article--header {
        font-family: 'League Gothic Regular', 'Arial Regular', Arial, sans-serif;
        color: #fefefe;
        position: relative;
        display: block;
        width: 100%;
        font-size: 222%;
    }
    .sliders__article--subheader {
        font-family: 'League Gothic Regular', 'Arial Regular', Arial, sans-serif;
        color: #edbfff;
        position: relative;
        display: block;
        font-size: 116%;
        margin-top: 0.5%;
        width: 100%;
    }
    .sliders__article--content {
        font-family: 'Open Sans Light', sans-serif;
        color: #fff;
        display: block;
        position: relative;
        font-size: 71%;
        line-height: 139%;
        width: 93%;
    } 
    .sliders__ipfone--back {
        position: absolute;
        width: 5%;
        left: 53%;
        top: 37%;
    }
    .sliders__ipfone--front {
        position: absolute;
        z-index: 5;
        width: 8%;
        left: 56%;
        top: 27%;
    }
    .sliders__play {
        position: absolute;
        z-index: 10;
        width: 3%;
        left: 58.5%;
        top: 45%;
    }
    .sliders__points {
        position: absolute;
        list-style: none;
        height: auto;
        top: 78%;
        left: 56.6%;
        width: 10%;
    }
    .sliders__point {
        position: relative;
        display: inline-block;
        width: 6%;
        height: 100%;
    }
    .sliders__radio{
        margin-left: 0%;
    }

    .content{
        margin-top: -1%;
        position: relative;
        width: 100%;
    }
    .blurbs {
        position: relative;
        overflow: hidden;
        padding: 0.9% 30%;
        background-image: linear-gradient(#745083 0%,#6a4a78 20%,#50395a 60%,#38293f 90%,#33253a 100%);
    }
    .blurbs__column {
        position: relative;
        margin-top: 5%;
        width: 29%;
    }
    .blurbs__column--left {
        float: left;
        margin-left: 7%;
    }
    .blurbs__column--center {
        float: left;
        margin-left: -3%;
    }
    .blurbs__column--right {
        float: left;
        margin-left: -2%;
    }
    .blurbs__picture {
        float: left;
        width: 8%;
        height: 13px;
        margin-top: 4%;
        margin-left: 22%;
        background-image: url('../img/sprite.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .blurbs__picture--wrench {
        background-position-x: left;
    }
    .blurbs__picture--footnote{
        background-position-x: left;
    }
    .blurbs__picture--note{
        background-position-x: left;
    }
    .blurbs__text {
        float: right;
        width: 58%;
    }
    .blurbs__text--header {
        font-family: 'League Gothic Regular', sans-serif;
        font-size: 84%;
        color: white;
        text-shadow: 0.5px 0.9px 0 #0f1518;
    }
    .blurbs__text--content {
        font-family: 'Open Sans Light', sans-serif;
        font-size: 60%;
        line-height: 1;
        margin-top: 4%;
        color: white;
        text-shadow: 0.5px 0.9px 0 #0f1518;
    }
    .blurbs__text--footer {
        font-family: 'League Gothic Regular', sans-serif;
        font-size: 65%;
        text-align: right;
        margin-top: 0%;
        margin-right: 13%;
        margin-bottom: 24%;
        color: white;
        text-shadow: 0.5px 0.9px 0 #0f1518;
    }

    .feedback{
        position: relative;
        overflow: hidden;
        padding: 0px 30%;
        background-color: #f9f9f9;
        border-bottom: 1px solid rgb(230,230,230);
    }
    .feedback__opacitystrip{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1%;
        background-color: rgba(217,217,217,0.5);
    }
    .testimonials{
        float: left;
        width: 32%;
        margin-top: 8%;
        z-index: 0;
        margin-left: 15%;
    }
    .testimonials__foto{
        position: absolute;
        width: 2%;
        left: 35%;
        top: 24%;
        z-index: 5;
    }
    .testimonial{
        position: relative;
        padding-left: 12%;
        background-color: white;
        z-index: 1;
        margin-top: -3%;
    }
    .testimonial__header{
        font-family: 'League Gothic Regular', sans-serif;
        font-size: 110%;
        margin-top: 17%;
    }
    .testimonial__text{
        font-family: 'Open Sans Light', sans-serif;
        font-size: 70%;
        line-height: 0.9;
    }
    .testimonial__header--begin{
        display: inline;
        color: #454545;
    }
    .testimonial__header--end{
        color: #edbfff;
        margin-top: -5%;
    }
    .testimonial__navigation{
        list-style: none;
        margin: -5% 32%;
        width: 33%;
    }
    .testimonial__point{    
        position: relative;
        display: inline-block;
        width: 12%;
    }
    .blogs{
        float: right;
        width: 50%;
        color: #454545;
        margin-top: 11.7%;
        margin-left: 1%;
        margin-bottom: 8.5%;
    }
    .blogs__header {
        text-shadow: 0.5px 0.9px 0 white;
        color: #454545;
        font-family: 'League Gothic Regular', sans-serif;
        font-size: 106%;
        font-weight: 400;
        line-height: 2;
        margin-left: 6%;
    }
    .blog {
        position: relative;
        margin-top: 3%;
    }
    .blog__foto {
        position: absolute;
        width: 10%;
        left: 6%;
        top: -18%;
    }
    .blog__header{
        font-family: 'Open Sans Extra Bold', sans-serif;
        font-size: 55%;
        margin-left: 20%;
        line-height: 0.2;
    }
    .blog__text{
        font-family: 'Open Sans Light', sans-serif;
        font-size: 47%;
        color: #454545;
        letter-spacing: -0.3px;
        margin-left: 20%;
        margin-bottom: 5%;
    }
    .blogs__footer{
        font-family: 'League Gothic Regular', sans-serif;
        font-size: 70%;
        margin-top: -5%;
        margin-right: 26%;
        text-align: right;
    }

    .logostrip{
        position: relative;
        padding-left: 35%;
        background-color: #f9f9f9;
        border-top: 1px solid rgb(254,254,254);
    }
    .logostrip__picture{
        width: 46%;
        margin-top: 1.5%;
        margin-bottom: 1.5%;
    }

    .recentnews{
        border-top: 1px solid rgb(216,216,216);
        background-color: rgb(236,236,236);
        padding: 4% 35%;
        overflow: hidden;
    }
    .own-info{
        display: none;
    }
    .own-info__header{
        font-family: 'League Gothic Regular', sans-serif;
        font-size: 135%;
    }
    .own-info__header--begin{
        text-shadow: 0 1px 0 white;
        color: #454545;
        display: inline;
    }
    .own-info__header--end{
        text-shadow: 0 1px 0 white;
        color: #b9b9b9;
        display: inline;
    }
    .own-info__subheader{
        text-shadow: 0.5px 0.9px 0 white;
        color: #c5c5c5;
        font-family: Georgia;
        font-size: 70%;
        font-style: italic;
    }
    .own-info__text,.recent__text,.news__text{
        text-shadow: 0.5px 0.9px 0 white;
        color: #787878;
        font-family: "Open Sans";
        font-size: 54%;
        line-height: 1.2;
        margin-bottom: -6%;
    }
    .recent{
        display: none;
    }
    .recent__header, .news__header{
        font-family: 'League Gothic Regular', sans-serif;
        font-size: 80%;
        text-shadow: 0.5px 0.9px 0 white;
        color: #454545;
        margin-top: -1%;
    }
    .news{
        float: left;
        width: 28%;
    }
    .news--first{
        margin-left: 1%;
    }
    .news--second{
        margin-left: 10%;
    }
    .news--third{
        margin-left: 5%;
    }

    .footer{
        background-image: url(../img/bg-footer.png);
        padding: 0.5% 34.5%;
        position: relative;
        overflow: hidden;
    }
    .footer__shadow{
        position: absolute;
        left: 30%;
        right: 30%;
        top: 0;
        bottom: 98%;
        background-image: url(../img/bg-footer-shadow.png);
    }
    .main-nav--footer{
        float: left;
        width: 100%;
        margin-top: 3%;
        margin-bottom: 5%;
    }
    .main-nav__menuitem--footer {
        margin-right: 3%;
    }
    .footer__copyright{
        float: right;
        font-size: 40%;
        width: 20%;
        text-align: right;
        color: white;
        line-height: 4.5;
        margin-top: -4.5%;
        margin-bottom: 7%;
    }
    .footer__copyright--begin{
        font-family: 'Open Sans Light', Arial, sans-serif;
        display: inline;
    }
    .footer__copyright--end{
        font-family: 'Open Sans Extra Bold', Arial, sans-serif;
        display: inline;
    }
}
/*@media screen and (min-width: 480px) and (max-width: 767px) {*/
@media screen and (min-width: 1200px)  {
    .wrapper{
        max-width:1050px;
        margin: 0 auto;
        overflow: hidden;
    }
    .header{
        position:relative;
        width: 100%;
        height: auto !important;
    }
    .header__container{
        width: 100%;
        background-image: url("../img/bgr_landscape.jpg");
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0% 0%;
        height: 250px;
    }
    .logo-text{
        position: absolute;
        font-family: 'League Gothic Regular', 'Arial Regular', Arial, sans-serif;
        font-size: 165%;
        top: 12%;
        left: 47%;
    }    
    .begin-logo{
        color: white;
        text-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.3);
    }
    .end-logo{
        background: linear-gradient(0deg, rgb(50, 37, 57) 0%,rgb(83, 59, 94) 50% , rgb(116, 80, 131) 100%);
        -webkit-background-clip: text;  
        color: transparent;
    }
    .main-nav--header {
        position: absolute;
        left: 45%;
        top: 23%;
        width: 10.2%;
        height: 46%;
        background-color: rgba(54,41,62,0.9);
        text-align: center;  
        z-index: 20;  
        border-radius: 4%;
    }
    .main-nav__menuitem{
        font-family: 'League Gothic Regular', 'Arial Regular', Arial, sans-serif;
        color: white;
    }
    .main-nav__menuitem--header{
        font-size: 110%;
        margin-right: 1.5%;
        margin-left: 3.4%;
        display: block;
        line-height: 1.4;    
        box-shadow: inset 1px 1px 0px -4px rgba(105,82,114,0.6);
        border-bottom: 1px solid rgb(81,62,89);
    }
    .main-nav__menuitem:hover{
        cursor: pointer;
    }
    .main-nav__menuitem--header:active{
        background-color: rgb(53,39,61);
        border-bottom: solid #edbfff;
        border-bottom-width: 1px;
    }
    .main-nav__menuitem--header:hover{
        text-decoration: underline;
    }
    .sliders{
        width: 100%;
        height: 100%;
    }
    .sliders__opacity{
        position: absolute;
        z-index: 0;
        background-color: rgba(0,0,0,0.2);
        left: 0;
        top: 36%;
        height: 43%;
        width: 100%;
    }
    .sliders__arrow {
        position: absolute;
        width: 1.2%;
        top: 53%;
    }
    .sliders__arrow--left {
        left: 40%;
    }
    .sliders__arrow--right {
        left:  59%;
    }
    .sliders__article {
        position: absolute;
        width: 18%;
        left: 35.5%;
        top: 51%;
        z-index: 12;    
    }
    .sliders__article--header {
        font-family: 'League Gothic Regular', 'Arial Regular', Arial, sans-serif;
        color: #fefefe;
        position: relative;
        display: block;
        width: 100%;
        font-size: 125%;
    }
    .sliders__article--subheader {
        font-family: 'League Gothic Regular', 'Arial Regular', Arial, sans-serif;
        color: #edbfff;
        position: relative;
        display: block;
        font-size: 70%;
        margin-top: -2.5%;
        width: 100%;
    }
    .sliders__article--content {
        display: none;
    } 
    .sliders__ipfone--back {
        position: absolute;
        width: 3%;
        left: 51%;
        top: 49%;
    }
    .sliders__ipfone--front {
        position: absolute;
        z-index: 5;
        width: 5.9%;
        left: 53%;
        top: 34%;
    }
    .sliders__play {
        position: absolute;
        z-index: 10;
        width: 2%;
        left: 55%;
        top: 53%;
    }
    .sliders__points {
        position: absolute;
        list-style: none;
        height: auto;
        top: 76%;
        left: 48.6%;
        width: 9%;
    }
    .sliders__point {
        position: relative;
        display: inline-block;
        width: 6%;
        height: 100%;
    }
    .sliders__radio{
        margin-left: 0%;
    }

    .content{
        margin-top: -1%;
        position: relative;
        width: 100%;
    }
    .blurbs {
        position: relative;
        overflow: hidden;
        padding: 0.9% 30%;
        background-image: linear-gradient(#745083 0%,#6a4a78 20%,#50395a 60%,#38293f 90%,#33253a 100%);    
    }
    .blurbs__column {
        position: relative;
        margin-left: 5%;
        width: 70%;
        overflow: hidden;
    }
    .blurbs__column--left {
        margin-top: 5%;
    }
    .blurbs__column--center {
    }
    .blurbs__column--right {
        margin-bottom: 3%;
    }
    .blurbs__picture {
        float: left;
        width: 4%;
        height: 13px;
        margin-top: 2%;
        margin-left: 34%;
        background-image: url('../img/sprite.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .blurbs__picture--wrench {
        background-position-x: left;
    }
    .blurbs__picture--footnote{
        background-position-x: left;
    }
    .blurbs__picture--note{
        background-position-x: left;
    }
    .blurbs__text {
        float: right;
        width: 58%;
    }
    .blurbs__text--header {
        font-family: 'League Gothic Regular', sans-serif;
        font-size: 84%;
        color: white;
        text-shadow: 0.5px 0.9px 0 #0f1518;
    }
    .blurbs__text--content {
        font-family: 'Open Sans Light', sans-serif;
        font-size: 60%;
        line-height: 1.5;
        margin-top: -2%;
        color: white;
        text-shadow: 0.5px 0.9px 0 #0f1518;
    }
    .blurbs__text--footer {
        font-family: 'League Gothic Regular', sans-serif;
        font-size: 65%;
        text-align: right;
        margin-top: 3%;
        margin-right: 6%;
        margin-bottom: 1%;
        color: white;
    }

    .feedback{
        position: relative;
        overflow: hidden;
        padding: 0px 30%;
        background-color: #f9f9f9;
        border-bottom: 1px solid rgb(230,230,230);
    }
    .feedback__opacitystrip{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1%;
        background-color: rgba(217,217,217,0.5);
    }
    .testimonials{
        width: 44%;
        margin-top: 10%;
        z-index: 0;
        margin-left: 29%;
    }
    .testimonials__foto{
        position: absolute;
        width: 2%;
        left: 41%;
        top: 12%;
        z-index: 5;
    }
    .testimonial{
        position: relative;
        padding-left: 12%;
        background-color: white;
        z-index: 1;
    }
    .testimonial__header{
        font-family: 'League Gothic Regular', sans-serif;
        font-size: 135%;
        margin-top: 17%;
    }
    .testimonial__text{
        font-family: 'Open Sans Light', sans-serif;
        font-size: 70%;
        line-height: 1.2;
        margin-top: 1%;
    }
    .testimonial__header--begin{
        display: inline;
        color: #454545;
    }
    .testimonial__header--end{
        color: #edbfff;
        margin-top: -5%;
        display: inline;
    }
    .testimonial__navigation{
        list-style: none;
        margin: 5.5% 36%;
        width: 33%;
    }
    .testimonial__point{    
        position: relative;
        display: inline-block;
        width: 12%;
    }
    .blogs{
        width: 50%;
        color: #454545;
        margin-top: 5%;
        margin-left: 31%;
        margin-bottom: 8.5%;
    }
    .blogs__header {
        text-shadow: 0.5px 0.9px 0 white;
        color: #454545;
        font-family: 'League Gothic Regular', sans-serif;
        font-size: 110%;
        font-weight: 400;
        line-height: 2;
        margin-left: 6%;
    }
    .blog {
        position: relative;
        margin-top: 2%;
    }
    .blog__foto {
        position: absolute;
        width: 10%;
        left: 6%;
        top: -18%;
    }
    .blog__header{
        font-family: 'Open Sans Extra Bold', sans-serif;
        font-size: 55%;
        margin-left: 20%;
        line-height: 0.2;
        margin-top: 3%;
    }
    .blog__text{
        font-family: 'Open Sans Light', sans-serif;
        font-size: 47%;
        color: #454545;
        letter-spacing: -0.3px;
        margin-left: 20%;
        margin-bottom: 5%;
    }
    .blogs__footer{
        font-family: 'League Gothic Regular', sans-serif;
        font-size: 70%;
        margin-top: -5%;
        margin-right: 24%;
        text-align: right;
    }

    .logostrip{
        position: relative;
        padding-left: 43%;
        background-color: #f9f9f9;
        border-top: 1px solid rgb(254,254,254);
    }
    .logostrip__picture{
        width: 25%;
        margin-top: 2%;
        margin-bottom: 2.5%;
        content: url(../img/logostrip-mini.png);
    }

    .recentnews{
        border-top: 1px solid rgb(216,216,216);
        background-color: rgb(236,236,236);
        padding: 4% 35%;
        overflow: hidden;
    }
    .own-info{
        display: none;
    }
    .own-info__header{
        font-family: 'League Gothic Regular', sans-serif;
        font-size: 135%;
    }
    .own-info__header--begin{
        text-shadow: 0 1px 0 white;
        color: #454545;
        display: inline;
    }
    .own-info__header--end{
        text-shadow: 0 1px 0 white;
        color: #b9b9b9;
        display: inline;
    }
    .own-info__subheader{
        text-shadow: 0.5px 0.9px 0 white;
        color: #c5c5c5;
        font-family: Georgia;
        font-size: 70%;
        font-style: italic;
    }
    .own-info__text,.recent__text,.news__text{
        text-shadow: 0.5px 0.9px 0 white;
        color: #787878;
        font-family: "Open Sans";
        font-size: 54%;
        line-height: 1.7;
        margin-bottom: 18%;
    }
    .recent{
        display: none;
    }
    .recent__header, .news__header{
        font-family: 'League Gothic Regular', sans-serif;
        font-size: 80%;
        text-shadow: 0.5px 0.9px 0 white;
        color: #454545;
        margin-top: -4%;
    }
    .news{
        width: 62%;
        margin-left: 20%;
        margin-top: -3.5%;
    }
    .news--first{
    }
    .news--second{
    }
    .news--third{
        margin-bottom: -12%;
    }

    .footer{
        background-image: url(../img/bg-footer-mini.png);
        padding: 0 40%;
        position: relative;
        overflow: hidden;
    }
    .footer__shadow{
        position: absolute;
        left: 30%;
        right: 30%;
        top: 0;
        bottom: 98%;
        background-image: url(../img/bg-footer-shadow.png);
    }
    .main-nav--footer{
        float: left;
        width: 100%;
        margin-top: 7%;
        margin-bottom: 5%;
        margin-left: 5%;
    }
    .main-nav__menuitem--footer {
        margin-right: 0.5%;
    }
    .footer__copyright{
        font-size: 40%;
        width: 35%;
        text-align: right;
        color: white;
        line-height: 1.5;
        margin-bottom: 20%;
        margin-left: 30%;
    }
    .footer__copyright--begin{
        font-family: 'Open Sans Light', Arial, sans-serif;
        display: inline;
    }
    .footer__copyright--end{
        font-family: 'Open Sans Extra Bold', Arial, sans-serif;
        display: inline;
    }
@media screen and (min-width: 320px) and (max-width: 479px) {
    .header__container{
        padding-top:36%;
    }
    .logo-text{
        font-size: 6px;
    }    
    .main-nav__menuitem{
        font-size: 4px;
    }
}