body {
    font: 12px/18px Tahoma, Arial, Verdana, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 18px;
    font-family: Tahoma, Arial, Verdana, sans-serif;
    height: 100%;
    color: black;
    background: white;
}
.wrapper{
    margin: 0 auto;
    overflow: hidden;
}
.header{
    position:relative;
    width: 100%;
    height: auto !important;
/*    background-color:red;*/
}
.header__container{
    width: 100%;
    background-image: url("../img/bgr_landscape.jpg");
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% 0%;
}

.logo-text{
    position:absolute;
    top: 5%;
    left: 29.5%;
    font-family: 'League Gothic Regular', 'Arial Regular', Arial, sans-serif;
}
.begin-logo{
    color: white;
    text-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.3);
}
.end-logo{
    background: linear-gradient(0deg, rgb(50, 37, 57) 0%,rgb(83, 59, 94) 50% , rgb(116, 80, 131) 100%);
    -webkit-background-clip: text;  
    color: transparent;
}
.main-nav{
    position:absolute;
    left: 44%;
    top:5%;
    width: 50%;
}
.main-nav__menuitem{
    font-family: 'League Gothic Regular', 'Arial Regular', Arial, sans-serif;
    color: white;
    margin-left: 3.4%;
}
.main-nav__menuitem:hover{
    border-bottom: solid #edbfff;
    border-bottom-width: 1px;
    cursor: pointer;
}
.sliders__opacity{
    position:absolute;
    z-index: 0;
    left: 0;
    top: 32%;
    height: 47%;
    width:100%;
    background-color: rgba(0,0,0,0.2);
}
.sliders{
    width: 100%;
    height: 100%;
}
.sliders__arrow {
    position: absolute;
    width: 1%;
    top: 60%;
}
.sliders__arrow--left {
    left: 15.5%;
}
.sliders__arrow--right {
    left: 85%;
}
.sliders__article {
    position: absolute;
    width: 25%;
    left: 24%;
    top: 50%;
}
.sliders__article--header{
    font-family: 'League Gothic Regular', 'Arial Regular', Arial, sans-serif;
    color: #fefefe;
    width: 100%;
    font-size: 260%;
    position: relative;
    display: block;
}
.sliders__article--subheader{
    font-family: 'League Gothic Regular', 'Arial Regular', Arial, sans-serif;
    font-size: 96%;
    color: #edbfff;
    margin-top: 3%;
    width: 100%;
    position: relative;
    display: block;
}
.sliders__article--content{
    font-family: 'Open Sans Light', sans-serif;
    font-size: 56%;
    color: #fff;
    display: block;
    line-height: 139%;
    width: 100%;
    position: relative;
}
.sliders__ipfone--back{
    position: absolute;
    width: 5%;
    left: 56%;
    top: 46%;
}
.sliders__ipfone--front{
    position: absolute;
    width: 9%;
    left: 58%;
    top: 27%;
    z-index:5;
}
.sliders__play{
    position: absolute;
    width: 3%;
    left: 61%;
    top: 50%;
    z-index: 10;
}
.sliders__points{
    position: absolute;
    list-style: none;
    top: 86%;
    left: 56%;
    width: 15%;
    height: auto;
}
.sliders__point{
    position: relative;
    display: inline-block;
    width: 6%;
    height: 100%;
}
.sliders__radio{
    margin-left: 0%;
}
/*.body{
    margin-top: -1%;
    z-index: 1000;
    display: block;
    background: yellow;
}*/
.content{
    margin-top: -1%;
    position: relative;
    width: 100%;
}
.blurbs{
    position: relative;
    overflow: hidden;
    padding: 0 30%;
    background-image: linear-gradient(#745083 0%,#6a4a78 20%,#50395a 60%,#38293f 90%,#33253a 100%);
}
.blurbs__column{
    position: relative;
    margin-top: 8%;
}
.blurbs__column--left{
    float:left;
    width: 33.3%;
}
.blurbs__column--center{
    float:left;
    width: 33.4%;
}
.blurbs__column--right{
    float:right;
    width: 33.3%;
}
/*.blurbs__pictograph {
    position:relative;
    float:left;
    width: 10%;
    height: auto;
    margin-top: 4%;
}*/
.blurbs__picture{
    float:left;
    width: 13px;
    height: 13px;
    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.blurbs__picture--wrench{
    background-position-x: left;
}
.blurbs__picture--footnote{
    background-position-x: center;
}
.blurbs__picture--note{
    background-position-x: right;
}
.blurbs__text{
    float: right;
    width: 83%;
}
.blurbs__text--header {
    font-family: 'League Gothic Regular', sans-serif;
    font-size: 110%;
    color: white;
    text-shadow: 0.5px 0.9px 0 #0f1518;
}
.blurbs__text--content {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 60%;
    line-height: 1;
    margin-top: 4%;
    color: white;
    text-shadow: 0.5px 0.9px 0 #0f1518; 
}
.blurbs__text--footer {
    font-family: 'League Gothic Regular', sans-serif;
    font-size: 65%;
    text-align: right;
    margin-top: 11%;
    margin-right: 14%;
    color: white;
    text-shadow: 0.5px 0.9px 0 #0f1518;
}

.feedback{
    position: relative;
    overflow: hidden;
    padding: 0 30%;
    background-color: #f9f9f9;
}
.feedback__opacitystrip{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 1%;
    background-color: rgba(217,217,217,0.5);
}
.testimonials{
    float:left;
    width: 45%;
    margin-top: 11%;
    z-index: 0;
}
.testimonials__foto{
    position:absolute;
    width: 2%;
    left: 29%;
    top: 15%;       
    z-index: 5;
}
.testimonial{
    position: relative;
    padding-left: 7%;
    background-color: white;
    z-index:1;
}
.testimonial__header{
    font-family: 'League Gothic Regular', sans-serif;
    font-size: 135%;
    margin-top: 3%;
}
.testimonial__text{
    font-family: 'Open Sans Light', sans-serif;
    font-size: 70%;
    line-height: 1.2;
}
.testimonial__header--begin{
    display: inline;
    color: #454545;
}
.testimonial__header--end{
    display: inline;
    color: #edbfff;
}
.testimonial__navigation{
    list-style: none;
    margin: 5% auto;
    width: 40%;
}
.testimonial__point{    
    position: relative;
    display: inline-block;
    width: 18%;
}
.blogs{
    float: right;
    width: 50%;
    color: #454545;
    margin-top: 11.7%;
}
.blogs__header {
    text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font-family: 'League Gothic Regular', sans-serif;
    font-size: 106%;
    font-weight: 400;
    line-height: 2;
}
.blog {
    position: relative;
    margin-top: 3%;
}
.blog__foto {
    position: absolute;
    width: 10%;
    left: -3%;
    top: -15%;
}
.blog__header{
    font-family: 'Open Sans Extra Bold', sans-serif;
    font-size: 55%;
    margin-left: 12%;
    line-height: 0.2;
}
.blog__text{
    font-family: 'Open Sans Light', sans-serif;
    font-size: 47%;
    color: #454545;
    letter-spacing: -0.3px;
    margin-left: 12%;
}
.blogs__footer{
    font-family: 'League Gothic Regular', sans-serif;
    font-size: 70%;
    margin-top: 5%;
    margin-right: 20%;
    text-align: right;
}




.content:after,blurbs:after,feedback:after{
    clear:both;
    content: '';
    display:block;
}

/*
@media screen and (min-width: 960px) {
    .logo-text{
        font-size: 255%;  
    }    
    .main-nav__menuitem{
        font-size: 127%;
    }
    .sliders__article--header{
        font-size: 300%;    
    }
    .sliders__article--subheader{
        font-size: 150%;    
    }
    .sliders__article--content{
        font-size: 84%;    
    }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
    .logo-text{
        font-size: 18px;
    }    
    .main-nav__menuitem{
        font-size: 9px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .logo-text{
        font-size: 12px;
    }    
    .main-nav__menuitem{
        font-size: 6px;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    .logo-text{
        font-size: 6px;
    }    
    .main-nav__menuitem{
        font-size: 4px;
    }
}
*/
@media screen and (min-width: 1050px) {
    .header__container{
        height: 380px;
    }
    .wrapper{
        max-width:1050px;
    }
    .logo-text{
        font-size: 24px;  
    }    
}
@media screen and (min-width: 960px) and (max-width: 1049px){
     .header__container{
        height: 346px;
    }
    .logo-text{
        font-size: 18px;
    }    
    .main-nav__menuitem{
        font-size: 9px;
    }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
    .header__container{
        padding-top:36%;
    }
    .logo-text{
        font-size: 18px;
    }    
    .main-nav__menuitem{
        font-size: 9px;
    }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .header__container{
        padding-top:36%;
    }
    .logo-text{
        font-size: 12px;
    }    
    .main-nav__menuitem{
        font-size: 6px;
    }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
    .header__container{
        padding-top:36%;
    }
    .logo-text{
        font-size: 6px;
    }    
    .main-nav__menuitem{
        font-size: 4px;
    }
}