@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: lightgray;
    font-family: 'Helvetica Neue Regular',sans-serif;
}
input[type="checkbox" i] {
    margin: inherit !important;
}
/***********          main blocks       ***********/

.main-container {
    position: relative;
    margin: 2% auto;
    width: 1215px;
    height: 1064px;
}
.box-main-picture{
    position: relative;
}
.box-main-picture img{
    max-width: 100%;
}
form {
    position: absolute;
    z-index: 5;
    top: 250px;
    left:350px;
    width:557px;
    height:611px;
    background-color: rgba(0,0,0,0.63);
    line-height: 220%;
}

/***********          header       ***********/

.header{
    background-color: #075190;
    position: absolute;
    left: 0;
    top: 0;
    width: 1215px;
    height: 38px;
    z-index:5;
    text-align:right;
    font-family: "Helvetica Neue Regular";
    font-size: 14px;
    line-height: 38px;
}
.header ul{
    float:left;
    margin-left:450px;
}
.header ul li{
    float: right;
    color:#4e9ed5 ;
    padding-left:12px;
    padding-right:12px;
}
.header ul li:hover {
    background-color:#4eabda;
    color:white;
}
.header div{
    float: left;
    color:white;
    margin-right: 2px;
    padding-left: 13px;
    padding-right: 6px;
}
.header div p{
    float:left;
    color: white;
}
.underline-text{
    text-decoration:underline;
}
.header img{
    float: left;
    width: 24px;
    height: 38px;
    border-left: 1px solid blue;
    padding-left: 18px;
}
.ola{           /* градиент, обводка*/
    width: 190px;
    text-align: center;
    background: -webkit-linear-gradient(90deg, rgb(0, 0, 0) 20%, rgb(255, 255, 255) 100%);
    background: linear-gradient(180deg, rgb(0, 0, 0) 20%, rgb(255, 255, 255) 100%);
    background: -webkit-linear-gradient(90deg, rgb(66, 153, 210) 0%, rgb(101, 168, 228) 100%);
    background: linear-gradient(180deg, rgb(66, 153, 210) 0%, rgb(101, 168, 228) 100%);
}
.ola p{
    margin-right: 5px;
}

/***********          form       ***********/

form p{
    text-align:center;
    font-family: "Helvetica Neue Regular";
    color: white;
}
form p:first-child{
    font-size: 24px;
    line-height:64px;
    border-bottom: 1px solid white;
}
#fb-login{
    display: block;
    width: 276px;
    height:34px;
    margin: 38px auto 0;
}
.ou{
    position:absolute;
    margin: 30px 142px 0;
    font-size:14px;
}
.ou::after{
    clear:both;
    content:'';
}
.ou img, .ou p{
    float:left;
    display:block;
}
.ou img{
    width:122px;
}
.ou p{
    margin-top:-16px;
    font-size: 14px;
    color: #999999;
}
.box-registration-controls{
    margin-top:67px;
    margin-bottom: 11px;
    font-size: 9px;
    color: rgb(204,204,204);  
    border: none; 
}
.box-registration-controls input[type=text], [type=email], [type=password]{
    display:block;
    width:275px;
    height: 40px;
    margin-left:144px;
    margin-top: 14px;
    background-color: rgb(15,15,15);
    color: rgb(204,204,204);  
    font-size: 14px;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid rgb(73,73,73);
    border-left: none;
}
.box-registration-controls input[type=text]:focus,[type=email]:focus,[type=password]:focus {
    background-color: #1b5288;
    color: rgb(204,204,204);  
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(27, 82, 136, 0.2), 2px 0px 5px 0px rgba(27, 82, 136, 0.1), 2px 0px 5px 2px rgba(27, 82, 136, 0.77), 0px 1px 5px 2px rgba(27, 82, 136, 1);
    -moz-box-shadow:    inset 0px 2px 5px 0px rgba(27, 82, 136, 0.2),2px 0px 5px 0px rgba(27, 82, 136, 0.1), 2px 0px 5px 2px rgba(27, 82, 136, 0.77), 0px 1px 5px 2px rgba(27, 82, 136, 1);
    box-shadow:         inset 0px 2px 5px 0px rgba(27, 82, 136, 0.2),2px 0px 5px 0px rgba(27, 82, 136, 0.1), 2px 0px 5px 2px rgba(27, 82, 136, 0.77), 0px 1px 5px 2px rgba(27, 82, 136, 1);
}
.box-registration-controls label {
display: block;
    margin-left: 144px;
    font-size: 14px;
}
.box-registration-controls input[type=checkbox] {
    position: relative;
    top: 1px;
}
#create {
    width:150px;
    height:36px;  
    margin-left: 200px;
    margin-top: 7px;   
    font-size: 14px;
    border: none; 
    color: white;  
    background: linear-gradient(to top, rgb(46,122,196) 0%,rgb(81,176,220) 80%); 
    box-shadow: 0   -1px 0   #57A2DD, 0   -1px 0   #57A2DD, 0    1px 0   #57A2DD, 0    1px 0   #57A2DD,
		        1px 0   0   #57A2DD, 1px 0   0   #57A2DD, -1px  0   0   #57A2DD, 1px  0   0   #57A2DD,
		        -1px -1px 0   #57A2DD, 1px -1px 0   #57A2DD, -1px  1px 0   #57A2DD,	 1px  1px 0   #57A2DD,
		        -1px -1px 0   #57A2DD, 1px -1px 0   #57A2DD,-1px  1px 0   #57A2DD, 1px  1px 0   #57A2DD;
}
.form-footer {
    font-size: 11px;
    line-height: 15px;
}