* {
 margin: 0;
 padding: 0;
}
body {
   	   margin: 0px;
       width: 100%;
       height: 100%;
       background-color: #dddddd;
}
.maingorizontallist{
    position:  center;
    margin: 3% 20% 3% 20%; 
    width:60%;
    height:94%;
    background-color: #eeeeee;
    border-color: black;
    border: 1px solid;
    border-bottom-width: 3px;
    padding-top: 5px;
}
.mainverticallist{
    margin: 0 auto 5%;
    width: 34%;
    height: 90%;
    background-color: white;
}
.allcontent{
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    padding-bottom: 5%;
}
p:first-of-type {
        text-align:left;
        margin-top: 7%;
}

/* Me (part 1 of 4) */
.me{
    margin-top: 10%;
    border-bottom: 1px solid blue;
    padding-bottom: 5%;
}
#fio{
    margin-top: 10%;
    text-align:center;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    font-size:14px;
}
img{
    margin-top: 8%;
    display:block;
    margin:3% auto 2%;
}
.work{
    text-align: left;
}

/* Motivation (part 2 of 4) */
.motivation{
    margin: 10px;
    border-bottom: 1px solid blue;
    padding-bottom: 5%;
}
ul{
    margin-top: 5%;
    margin-left: 7%;
}
li{
    text-align:left;
}

/* Contacts (part 3 of 4) */
.contacts{
    margin: 10px;
    border-bottom: 1px solid blue;
    padding-bottom: 5%;
}

/* Feedback (part 4 of 4) */
.feedback{
    margin: 10px;
    padding-bottom: 20%;
}

