body {
    background-color: rgb(40,40,40);
}
table{
    position:absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height:90%;
    background-color:white;
    border: 4px solid black;
}
tr{
    height: 25%;
}
td{
    width:20%;
}