
@import "variables.scss";

.header{
    background-color:    $backgroundColorHeader;
    width: 100%;
}
.header__title{
    height: 36px;
    position: relative;
    overflow: hidden;
 }
.title__logo{
    float: left;
    height: 100%;
    width: 36px;
    background-image: url("../img/home-logo.jpg");
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: top center;
}
.title__text{
    display: block;
    margin-left: 6px;
    float: left;
    font-family: 'Ubuntu Medium',Arial,sans-serif;
    font-size: 20px;
    color: $titleTextFirstColor;
    width: 160px;
    text-align:justify;

    span{
        display: block;
        font-family: 'Ubuntu Light',Arial,sans-serif;
        font-size: 15px;
        color: $titleTextSecondColor;
        text-align:justify;
    }
}
.title__navigation{
    float: right;

    li{
        display: inline-block;
        padding: 12px 0;

        a{
            color: $titleNavigationColor;
        }
        a:hover{
            color: $titleNavigationHoverColor;
        }   
    }
}

.header__navigation{
    margin-top: 36px;
    position: relative;
    overflow: hidden;
    background-color: $backgroundColorHeaderNavigation;

}
.header__menu{
    float:left;

    li{
        width: $widthHeaderMenuItem;
        display: table-cell;
        position: relative;
        height: $heightHeaderMenuItem;
    }
    a{
        text-align: center;
        border-right: 1px solid $headerMenuItemBorderColor;
        cursor: pointer;
        color: $headerMenuItemColor;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        line-height: $heightHeaderMenuItem;
    }
    a:hover{
        color: $headerMenuItemHoverColor;
    }
    a:active{
        background-color: $headerMenuItemActiveBGColor;
    }
}
.header__search{
    float: right;
    width: $widthHeaderSearch;
    position: relative;

    .form__group{
        position: absolute;
        width: $widthHeaderSearchForm;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        line-height: $heightHeaderMenuItem;
    }
    input{
        height: $heightHeaderSearchForm;
        width: $widthHeaderSearchForm;
        position: absolute;
        line-height: $heightHeaderMenuItem;
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px;
        font-family: 'Arial Regular',Arial, sans-serif;
        font-size: 12px;
        color: $headerSearchTextColor;
        background-color: $headerSearchTextBGColor;
        padding-left: 2px;
        border-color: $headerSearchTextBorderColor;
    }
    i{
        position: absolute;
        right: 0px;
        color: $headerSearchButtonColor;
    }
}
.header__slider{
    margin-top: 40px;
    position: relative;
    overflow: hidden;
}
