
// цвета компонентов сайта 

$backgroundColorHeader:             #fff;
$backgroundColorHeaderNavigation:   #2a2d32;

$titleTextFirstColor:               #434343; 
$titleTextSecondColor:              #9d9d9d;
$titleNavigationColor:		    	#cccccc;
$titleNavigationHoverColor:		    #248cec;
