
// цвета компонентов сайта 

$backgroundColorHeader:             #fff;
$backgroundColorHeaderNavigation:   #2a2d32;

$titleTextFirstColor:               #434343; 
$titleTextSecondColor:              #9d9d9d;
$titleNavigationColor:		    	#cccccc;
$titleNavigationHoverColor:		    #248cec;

$headerMenuItemColor:               white;
$headerMenuItemHoverColor:          #be9117;
$headerMenuItemActiveBGColor:       #248cec;
$headerMenuItemBorderColor:         #181a1d;
$headerSearchTextColor:             white;
$headerSearchTextBGColor:           #35383c;
$headerSearchTextBorderColor:       #2a2d32;
$headerSearchButtonColor:           #5d6063;
$headerSliderTextColor:             white;
$headerSliderTextFirstChildColor:   #f4b60d;
$headerSliderTextBGColor:           rgba(28,34,39,0.8);

// размеры компонентов сайта
$widthWrapper:                      1161px;

$widthHeaderMenuItem:               126px;
$heightHeaderMenuItem:              56px;
$widthHeaderSearch:                 260px;
$widthHeaderSearchForm:             240px;
$heightHeaderSearchForm:            40px;
$heightSliderItem:                  471px;