body {
}
#site-frame{
    margin: 16px auto;
    width: 916px;
    font: 12px/14px Arial, Helvetica, sans-serif;
}
                                        /****************  header  ****************/

    /*************  telephones  *************/
.telephones{
    padding-top:2px;
    margin-left: 3px;
}
.box-head{
    float:left;
    background-color: rgb(241,0,0);
    margin-top: 5px;
    margin-left: 6px;
    border-radius:82%;
    width:20px;
    height:20px;
    background: linear-gradient(to bottom, rgb(32,105,136) 0%,rgb(12,50,86) 59%,rgb(12,50,86) 100%,rgb(12,50,86) 100%); 
}
.box-head img{
    width: 60%;
    margin-left: 4px;
    margin-top: 3px;
    float:left;
}
.telephones p{
float: left;
    margin-left: 5px;
    margin-top: 2px;
    font: 18px Arial Regular, Arial, sans-serif;
    line-height: 26px;
    letter-spacing: 0.45px;
}
    /*************  authorization  *************/
.authorization{
    float:left;
    margin-left: 15px;
    width: 494px;
    border-radius:3px;
    background: linear-gradient(#1f6787 0px,#1c5e7f 7px,#14496c 12px,#0c3357 26px);
    box-shadow:
          1px 0px rgb(150,150,150), 1px 1px rgb(150,150,150),
          2px 1px rgb(149,149,149), 2px 2px rgb(149,149,149);
}
.authorization img{
    display: block;
    float: left;    
    margin-top: 4px;
    margin-right: 3px;
    margin-left:7px;
}
.authorization input{
    display: block;
    float: left;
    margin-top: 3px;
    margin-right: 7px;
    padding-left: 3px;
    width: 107px;
    line-height: 12px;
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-size: 10.91px;
    color: rgb(151,162,166);
    letter-spacing: -0.3px;
}
.authorization a, .authorization p{
    display: block;
    float: left;    
    color: white;
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-size: 10.91px;
    line-height: 25px;
    text-decoration: none;
    letter-spacing: -0.2px;
}
authorization p {
    margin-left: -1px;
}
.authorization a:first-of-type{
    margin-left: 1px;
    letter-spacing: 0.25px;
}
#lost-pwd{
    letter-spacing: 0.1px;
}
.authorization span a{
    color: rgb(158,164,171);
    font-size: 12px;
    margin-left: 20px;
    letter-spacing: 0.1px;
}
.authorization span{
    margin-left: 18px;
    height: 19px;
}

    /*************  nav  *************/
nav{
    float:left;
    margin-left: 18px;
    width: 75px;
    height: 20px;
    border: 1px solid rgb(193,200,203);
    border-radius:10px;
    box-shadow:
      -1px 0px rgb(202,207,209), -1px 1px rgb(202,207,209);
    }
nav img{
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    margin: 3px 0;
}
nav img:first-child {
    margin: 3px 8px;
}
nav img:last-child {
    margin: 4px 11px;
} 
   /*************  logo  *************/
.logo{
    clear: both;
    float:left;
    display:block;
    margin-top:8px;
    margin-left: 3px;
    width: 906px;
}

                                        /*************  top menu  *************/
.top-menu{
    float: left;
    margin-top: 7px;
    width: 910px;
    height: 32px;
    border: 1px solid rgb(5,5,6);
    border-radius: 3px;
    background: linear-gradient(#576068 0px, #2d3236 4px, #000 32px);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

    /*************  menu  *************/
.top-menu menu{
    float: left;
    margin-left: 133px;
    margin-top: 3px;
}
.top-menu menu menuitem {
    display: inline-block;
    height: 26px;
    margin: 0px -7px;
    color: #b1bcc0;
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-size: 13.64px;
    text-align: center;
    line-height: 27px;
    padding: 0 20px;
    border-radius: 16px;
}
.top-menu menu menuitem:first-child {
    margin-right: -10px;  /*  designer's error 'И' */
}
.top-menu menu menuitem:nth-child(4) {
    margin-left: -5px;
}
.top-menu menu menuitem:last-child {
    margin-left: -10px;
}
.top-menu menu menuitem:hover {
    background-image: linear-gradient(#1f6787 0px, #185476 9px, #0c3256 32px);
    color: white;
    cursor: pointer;
}

    /*************  shopping basket  *************/
.shopping-basket {
    float: left;
    margin-top: 4px;
    margin-left: 58px;
}
.shopping-basket img{
    float:left;
    width: 22px;
    margin-top: 2px;
    margin-right: 6px;
}
.shopping-basket p{
    float: left;
    font: 11px 'Arial Regular', Arial, sans-serif;
    line-height: 24px;
    letter-spacing: 0.3px;
}
.shopping-basket .amount, .quantity {
    color: #104c77;
    font-size: 12px;
    padding-right: 2px;
}
.shopping-basket .quantity {
    margin-left: 1px;
    font-size: 12px;
    margin-right: 13px;
}
.shopping-basket .amount {
    margin-left: 10px;
}
.shopping-basket .text-label {
    color: white;
    margin-top: -1px;
    font-size: 11px;
}

                                        /************* search strip   *************/
.search-strip{
    float: left;
    margin-top: 12px;
}
.search-block {
    border: 1px solid rgb(184,184,185);
    border-radius: 16px;
    box-shadow: 5px 5px 5px 0px rgba(104,104,104,0.75);
    height: 132px;
    position: relative;
}
.search-block header{
    font: 12px 'Arial Black', Arial, sans-serif;
    text-decoration: none;
    color: #114165;
    position: absolute;
    top: 3px;
}
.search-block .center-header{
    left: 0;
    top: -1px;
    right: 6px;
    letter-spacing: 0.4px;
    text-align: center;
}
.search-block .left-header{
    text-align: left;
    padding-left: 7px;
    margin-top: -3px;
}
.search-block .block-footer{
    font: italic 14px Arial, sans-serif;
    text-decoration: underline;
    color: #154467;
    position: absolute;
    bottom: 10px;
    right: 20px;
}


    /*************  left search block  *************/
#left-search-block{
    float:left;
    width: 414px;
    margin-right:12px;
    margin-left: 5px;
}
#left-search-block .group-label-control header{
    font: 10px 'Arial Black', Arial, sans-serif;
    color: #154468;
    display: block;
    position: relative;
    line-height: 18px;
}
#left-search-block .control{
    margin-bottom: 4px;
    height: 18px;
}
#left-search-block .control .label-text{
    width: 75px;
    display: inline-block;
}
#left-search-block .control p{
    font: 10px 'Arial Regular', Arial, sans-serif;
}
#left-search-block .control p, span{
    line-height:8px;
}
#left-search-block .left-group {
    margin-left: 18px;
    margin-top: -4px;
    float:left;
}
#left-search-block .left-group header{
    margin-left: 2px;
    margin-bottom: 5px;
    margin-top: 1px;
    letter-spacing: 0.5px;
    text-align: left;
}
#left-search-block .right-group{
    margin-right: 14px;
    margin-top: -6px;
    float: right;
}
#left-search-block .right-group header {
    margin-right: 9px;
    margin-top: 1px;
    margin-bottom: 5px;
    text-align: right;
}
#left-search-block .block-footer{
    bottom: 10px;
    right: 20px;
}

    /*************  center search block  *************/
#center-search-block{
    float:left;
    width: 192px;
}
#center-search-block .left-header{
    margin-top: -4px;
}
#center-search-block .group-label-control .control{
    line-height: 18px;
}
#center-search-block .left-group p{
    width: 40px;
    float:left;
    height: 16px;
}
#center-search-block .left-group select,
#center-search-block .left-group .season{
    margin-left: 6px;
    margin-bottom: 3px;
}
#center-search-block .left-group .season{
    width: 10px;
    float:left;
}
#center-search-block .left-group {
    margin-left: 14px;
    margin-top: 22px;
    float:left;
}
#center-search-block .right-group{
    margin-right: 16px;
    margin-top: 20px;
    float:right;
}
#center-search-block .right-group p{
    width: 10px;
    float:left;
}    

    /*************  right search block  *************/
#right-search-block{
    float: right;
    width: 264px;
    margin-left: 10px;
}
#right-search-block .left-group {
    margin-left: 16px;
    margin-top: 6px;
    width: 160px;
    float:left;
}
#right-search-block .left-group .label-text{
    width: 92px;
    float: left;
    display: block;
    margin: auto 0;
    margin-bottom: -4px;
}
#right-search-block .left-group .control:first-child .label-text{
    padding-top: 14px;
}
#right-search-block .right-group{
    margin-top: 3px;
    width: 76px;
    float: left;
    padding-left: 10px;
    border-left: 1px solid #bdc6ca;
}
#right-search-block .right-group select{
    margin-top: -10px;
    margin-bottom: 5px;
}
#right-search-block .group-label-control .label-text p{ 
    font: 10px 'Lucida Sans Unicode','Arial Regular', Arial, sans-serif;
    line-height: 15px;
}
#right-search-block .group-label-control .first-line{
    margin-top: -2px;
}
#right-search-block .group-label-control .second-line{
    margin-top: -6px;
    float: left;
}
#right-search-block .left-group select{
    display: inline;
    margin-top: 13px;
}

                                        /************* content with filters   *************/
.content-with-filters{
    float: left;
    margin-top: 16px;
    width: 910px;
}
.content-with-filters:after{
    display:block;
    content:'';
    clear:both;
}
.filters-column {
    position: relative;
}
.filters-column header{
    width: 188px;
    height: 26px;
    margin-bottom: 10px;
    border: 1px solid #79878d;
    border-radius: 16px;
    box-shadow: 3px 3px 5px 0px rgba(140,150,154,0.75);
}
.filters-column header img {
    float:left;
    width: 20px;
    margin: 2px;
 }
.filters-column header p {
    text-decoration: none;
    color: #114165;
    margin-left: 6px;
    margin-top: 4px;
}
.filters-group header{
    width: 152px;
    height: 27px;
    margin-bottom: 6px;
    border: 1px solid #79878d;
    border-radius: 12px;
    box-shadow:none;
}
.filters-group header img {
    float:left;
    width: 22px;
    margin: 2px;
 }
.filters-group header p {
    color: #114165;
    margin-left: 6px;
    margin-top: 4px;
    font: 14px 'Lucida Sans Unicode','Arial Black', Arial, sans-serif;
}

    /*************  left sidebar  *************/
#left-sidebar{
    float:left;
    width: 192px;
}
#left-sidebar header p{
    font: 12.73px 'Lucida Sans Unicode','Arial Black', Arial, sans-serif;
}
.radio-group label{
    display: block;
    width: 150px;
    height: 24px;
    margin-left:24px;
    font: 12.73px 'Lucida Sans Unicode','Arial Black', Arial, sans-serif;
    color: #465961;
}
.radio-group input[type=radio]{
    height: 8px;
}

    /*************  right sidebar  *************/
#right-sidebar{
    float: right;
    width: 182px;
    margin-left: 6px;
}
#right-sidebar header p{
    font: 14px 'Lucida Sans Unicode','Arial Black', Arial, sans-serif;
}
#right-sidebar .filters-group{
    margin-left: 13px;
}
.checkbox-group label{
    display: block;
    margin-left: 7px;
    margin-bottom: 7px;
    color: #465961;
}
.checkbox-group label span{
    margin-left: 16px;
    font: 12.73px 'Lucida Sans Unicode','Arial Black', Arial, sans-serif;
}
#right-sidebar button{
    margin-left: 23px;
    width: 80px;
    margin-top: 7px;
    height: 26px;
    border-radius: 11px;
    font: 11px 'Arial Regular', Arial, sans-serif;
    color: #e5e9ea;
    background: linear-gradient(#1f6787 0px, #1c5e7e 6px, #154b6d 12px,#0e3a5e 18px,#0c3357 24px);
    box-shadow: 1px 1px 3px 0px rgb(206,206,206);
}

                                        /************* goods   *************/
.goods {
    width: 527px;
    height: 627px; 
    float: left;
    background: linear-gradient(rgba(229,231,232,0.49) 0px,rgba(147,167,176,0.49)  626px);
}    
.good{
    float: left;
    margin-top: 2px;
    margin-left: 22px;
    margin-right: 7px;
    margin-bottom: 10px;
}
.good p{
    text-align: center;
}
.good-frame{
    background-color: white;
    width: 137px;
    height: 126px;
    border: 1px solid #acb5b8;
    border-radius: 6px;
    margin-top: -2px;
}
.good-frame img{
    display: block;
    margin: 5px auto;
}
.good-brand{
    font: 14.59px 'Lucida Sans Unicode','Arial Regular', Arial, sans-serif;
    color: #206988;
    padding-top: 9px;
}
.good-model{
    font: 12.77px 'Lucida Sans Unicode','Arial Regular', Arial, sans-serif;
    color: #1f2528;
    margin-top: -7px;
}
.good-price{
    font: 16px'Arial Bold', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #114165;
    margin-top: 3px;
}    
                                        /************* logos   *************/
.logos{
    float: left;
    width: 916px;
} 
.logos:after{
    display: block;
    content: '';
    clear: both;
}                                      
.logos div{
    margin: 42px auto;
    width: 916px;
    padding-left: 118px;
}
.logos div img{
    display: block;
    float: left;
    margin-right: 13px;
}


                                        /************* footer   *************/
footer{
    height: 100px;
    width: 908px;
    border: 1px solid rgb(36,42,60);
    background-color: rgb(33,58,77);
    clear: both;
    margin-top: 21px;
    float: left;
}   
footer menu{
    width: 300px;
    margin: 10px auto;
}
footer menu menuitem{
    font: 12px 'Arial Regular', Arial, sans-serif;
    color: #bec6c9;
    padding: 0 10px;
    border-right: 1px solid #8d989f;
}
footer menu menuitem:last-child{
    border-right: none;
}
footer menu menuitem:hover{
    color: #52abcb;
    cursor: pointer;
}
footer p{
    font: 10px  'Arial Regular', Arial, sans-serif;
    color: #7f4740;
    margin: 14px auto;
    text-align: center;
}

/************* used fonts   *************/

.lsu-10{
    font-family:'Lucida Sans Unicode','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',  Geneva, Verdana, sans-serif;
    font-size: 10px;
}
.lsu-12{
    font-family:'Lucida Sans Unicode','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',  Geneva, Verdana, sans-serif;
    font-size: 12px;
}
.ar-11{
    font-family: 'Arial Regular',Arial, Helvetica, sans-serif;
    font-size: 11px;
 }
.ar-14{
    font-family: 'Arial Regular',Arial, Helvetica, sans-serif;
    font-size: 14px;
 }
p.text-right {
    text-align: right;
}
.group-label-control .text-begin {
    float: left;
    color: black;
}
.group-label-control .text-end {
    color: rgb(119,133,139);
}