body {
}
#site-frame{
    margin: 0 auto;
    width: 910px;
    font: 12px/14px Arial, Helvetica, sans-serif;
}


                                        /****************  header  ****************/

    /*************  telephones  *************/
.telephones{
    margin-top:4px;
    padding-top:2px;
}
.box-head{
    float:left;
    background-color: rgb(241,0,0);
    border-radius:82%;
    width:20px;
    height:20px;
    background: rgb(32,105,136); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(32,105,136) 0%, rgb(12,50,86) 59%, rgb(12,50,86) 100%, rgb(12,50,86) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(32,105,136)), color-stop(59%,rgb(12,50,86)), color-stop(100%,rgb(12,50,86)), color-stop(100%,rgb(12,50,86))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(32,105,136) 0%,rgb(12,50,86) 59%,rgb(12,50,86) 100%,rgb(12,50,86) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(32,105,136) 0%,rgb(12,50,86) 59%,rgb(12,50,86) 100%,rgb(12,50,86) 100%); /* Opera 11.10+ */
    background: linear-gradient(to bottom, rgb(32,105,136) 0%,rgb(12,50,86) 59%,rgb(12,50,86) 100%,rgb(12,50,86) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#206988', endColorstr='#0c3256',GradientType=0 ); /* IE6-9 */}
.box-head img{
    width: 60%;
    margin-left: 4px;
    margin-top: 3px;
    float:left;
}
.telephones p{
    float: left;
    margin-left: 6px;
    font: 18px Arial, sans-serif;
    line-height:26px;
}
    /*************  authorization  *************/
.authorization{
    float:left;
    padding-top:3px;
    margin-left: 16px;
    width: 497px;
    height: 26px;
    border-radius:3px;
    background: linear-gradient(#1f6787 0px,#1c5e7f 7px,#14496c 12px,#0c3357 26px);
    box-shadow:
          1px 0px rgb(150,150,150), 1px 1px rgb(150,150,150),
          2px 1px rgb(149,149,149), 2px 2px rgb(149,149,149);
}
.authorization img{
    display: block;
    float: left;    
    margin-top: 3px;
    margin-right: 3px;
    margin-left:6px;
}
.authorization input{
    display: block;
    float: left;
    margin-right:7px; 
    width:114px;
    line-height:16px;
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-size:10.91px;
    color: rgb(151,162,166);
}
.authorization a, .authorization p{
    display: block;
    float: left;    
    color:white;
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-size:10.91px;
    line-height: 26px;
    text-decoration:none;
}
.authorization a:last-child{
    color:rgb(158,164,171);
    font-size:12px;
    text-decoration:underline;
    line-height: 22px;
    margin-left:20px;
}
    /*************  nav  *************/
nav{
    float:left;
    padding-top:3px;
    margin-left: 15px;
    width: 76px;
    height: 20px;
    border: 1px solid rgb(193,200,203);
    border-radius:10px;
    box-shadow:
      -1px 0px rgb(202,207,209), -1px 1px rgb(202,207,209);
    }
nav img{
display: block;
    float: left;
    width: 12px;
    height: 12px;
    margin: 3px 6px;
}

    /*************  logo  *************/
.logo{
    clear: both;
    float:left;
    display:block;
    margin-top:10px;
    width: 910px;
}

                                        /*************  top menu  *************/
.top-menu{
    float: left;
    margin-top: 7px;
    width: 910px;
    height: 32px;
    border: 1px solid rgb(5,5,6);
    border-radius: 3px;
    background: linear-gradient(#576068 0px, #2d3236 4px, #000 32px);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

    /*************  menu  *************/
.top-menu menu{
    float:left;
    margin-left: 126px;
    margin-top: 4px;
}
.top-menu menu menuitem {
    display: inline-block;
    height: 26px;
    margin: 0px -7px;
    color: #b1bcc0;
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-size: 13.64px;
    text-align: center;
    line-height: 27px;
    padding: 0 20px;
    border-radius: 16px;
}
.top-menu menu menuitem:hover {
    background-image: linear-gradient(#1f6787 0px, #185476 9px, #0c3256 32px);
    color: white;
    cursor: pointer;
}

    /*************  shopping basket  *************/
.shopping-basket {
    float: left;
    margin-top: 4px;
    margin-left: 60px;
}
.shopping-basket img{
    float:left;
    width: 22px;
    margin-top: 2px;
    margin-right: 6px;
}
.shopping-basket p{
    float: left;
    font-family: "Arial Regular", sans-serif;
    line-height: 24px;
}
.shopping-basket .amount, .quantity {
    color: #104c77;
    font-size: 12px;
    margin-top: 1px;
    margin-right: 14px;
    padding-right: 2px;
}
.shopping-basket .amount {
    padding-left: 8px;
}
.shopping-basket .text-label {
    color: white;
    font-size: 11px;
}

                                        /************* search strip   *************/
.search-strip{
    float: left;
    margin-top: 8px;
    width: 910px;
}
.search-block {
    border: 1px solid rgb(184,184,185);
    border-radius: 14px;
    box-shadow: 5px 5px 5px 0px rgba(104,104,104,0.75);
    height: 138px;
    position: relative;
}
.search-block header{
    font: 12px 'Arial Black', Arial, sans-serif;
    text-decoration: none;
    color: #114165;
    position: absolute;
    top: 3px;
}
.search-block .center-header{
    left: 0;
    right: 0;
    text-align: center; 
}
.search-block .left-header{
    text-align: left;
    padding-left: 10px;
}
.search-block  .block-footer{
    font: italic 14px Arial, sans-serif;
    text-decoration: underline;
    color: #154467;
    position: absolute;
    bottom: 10px;
    right: 20px;
}
#left-search-block{
    float:left;
    width: 414px;
    margin-right:12px;
}

    /*************  left search block  *************/
#left-search-block .group-label-control header{
    font: 10px 'Arial Black', Arial, sans-serif;
    color: #154468;
    display: block;
    position: relative;
    line-height: 18px;
}
#left-search-block .group-label-control .control{
    line-height: 22px;
}
#left-search-block .group-label-control .label-text{
    width: 76px;
    float:left;
    height: 18px;
    line-height: 18px;
}
#left-search-block .group-label-control .label-text p{ 
    font: 10px 'Arial Regular', Arial, sans-serif;
    line-height: 15px;
}
#left-search-block .group-label-control .first-line{
    margin-top: -2px;
}
#left-search-block .group-label-control .second-line{
    margin-top: -6px;
    float: left;
}
#left-search-block .group-label-control select{
    display: inline;
    line-height: 22px;
}
#left-search-block .left-group {
    margin-left: 18px;
    float:left;
}
#left-search-block .left-group header{
    margin-left: 2px;
    margin-bottom:5px;
    text-align: left;
}
#left-search-block .right-group{
    margin-right: 18px;
    float:right;
}
#left-search-block .right-group header {
    margin-right: 2px;
    margin-bottom:5px;
    text-align: right;
}

    /*************  center search block  *************/
#center-search-block{
    float:left;
    width: 192px;
}
#center-search-block .group-label-control .control{
    line-height: 22px;
}
#center-search-block .left-group p{
    width: 40px;
    float:left;
    height: 16px;
//    line-height: 16px;
}
#center-search-block .left-group select,
#center-search-block .left-group .season{
    margin-left: 6px;
}
#center-search-block .left-group .season{
    width: 10px;
    float:left;
}
#center-search-block .left-group {
    margin-left: 14px;
    margin-top: 24px;
    float:left;
}
#center-search-block .right-group{
    margin-right: 16px;
    margin-top: 24px;
    float:right;
}
#center-search-block .right-group p{
    width: 10px;
    float:left;
}    

    /*************  right search block  *************/
#right-search-block{
    float: right;
    width: 268px;
    margin-left: 12px;
}
#right-search-block .left-group {
    margin-left: 16px;
    margin-top: 20px;
    float:left;
}
#right-search-block .left-group .label-text{
    width: 92px;
    float:left;
    line-height: 18px;
}
#right-search-block .right-group{
    margin-right: 14px;
    margin-top: 6px;
    padding-left: 10px;
    width: 76px;
    float: right;
    border-left: 1px solid #bdc6ca;
}
#right-search-block .right-group .label-text{
    float:left;
    line-height: 18px;
}
#right-search-block .group-label-control .label-text p{ 
    font: 10px 'Lucida Sans Unicode','Arial Regular', Arial, sans-serif;
    line-height: 15px;
}
#right-search-block .group-label-control .first-line{
    margin-top: -2px;
}
#right-search-block .group-label-control .second-line{
    margin-top: -6px;
    float: left;
}
#right-search-block .group-label-control select{
    display: inline;
    line-height: 22px;
}

                                        /************* content with filters   *************/
.content-with-filters{
    float: left;
    margin-top: 12px;
    width: 910px;
}
.filters-column {
    position: relative;
}
.filters-column header{
    width: 188px;
    height: 26px;
    margin-bottom: 10px;
    border: 1px solid #79878d;
    border-radius: 16px;
    box-shadow: 3px 3px 5px 0px rgba(140,150,154,0.75);
}
.filters-column header img {
    float:left;
    width: 20px;
    margin: 2px;
 }
.filters-column header p {
    text-decoration: none;
    color: #114165;
    margin-left: 6px;
    margin-top: 4px;
}
.filters-group header{
    width: 152px;
    height: 27px;
    margin-bottom: 6px;
    border: 1px solid #79878d;
    border-radius: 12px;
    box-shadow:none;
}
.filters-group header img {
    float:left;
    width: 22px;
    margin: 2px;
 }
.filters-group header p {
    color: #114165;
    margin-left: 6px;
    margin-top: 4px;
    font: 14px 'Lucida Sans Unicode','Arial Black', Arial, sans-serif;
}

    /*************  left sidebar  *************/
#left-sidebar{
    float:left;
    width: 188px;
    margin-right: 6px;
}
#left-sidebar header p{
    font: 12.73px 'Lucida Sans Unicode','Arial Black', Arial, sans-serif;
}
.radio-group label{
    display: block;
    width: 150px;
    height: 24px;
    margin-left:24px;
    font: 12.73px 'Lucida Sans Unicode','Arial Black', Arial, sans-serif;
    color: #465961;
}
.radio-group input[type=radio]{
    height: 8px;
}

    /*************  right sidebar  *************/
#right-sidebar{
    float: right;
    width: 182px;
    margin-left: 6px;
}
#right-sidebar header p{
    font: 14px 'Lucida Sans Unicode','Arial Black', Arial, sans-serif;
}
#right-sidebar .filters-group{
    margin-left: 13px;
}
.checkbox-group label{
    display: block;
    margin-left: 13px;
    margin-bottom: 16px;
    color: #465961;
}
.checkbox-group label span{
    margin-left: 16px;
    font: 12.73px 'Lucida Sans Unicode','Arial Black', Arial, sans-serif;
}
#right-sidebar button{
    margin-left: 13px;
    width: 80px;
    height: 26px;
    border-radius: 11px;
    font: 11px 'Arial Regular', Arial, sans-serif;
    color: #e5e9ea;
    background: linear-gradient(#1f6787 0px, #1c5e7e 6px, #154b6d 12px,#0e3a5e 18px,#0c3357 24px);
    box-shadow: 1px 1px 3px 0px rgb(206,206,206);
}

                                        /************* goods   *************/
.goods {
    width: 527px;
    height: 627px; 
    float: left;
//    padding-top: 14px;
//    padding-left: 24px;
    margin-bottom: 40px;
    background: linear-gradient(rgba(229,231,232,0.49) 0px,rgba(147,167,176,0.49)  626px);
}    
.good{
    float:left;
    margin-top: 14px;
    margin-left: 22px;
    margin-right: 6px;
    margin-bottom: 10px;
}
.good p{
    text-align: center;
}
.good-frame{
    background-color: white;
    width: 139px;
    height: 129px;
    border: 1px solid #acb5b8;
    border-radius: 6px;
}
.good-frame img{
    display: block;
    margin: 5px auto;
}
.good-brand{
    font: 14.59px 'Lucida Sans Unicode','Arial Regular', Arial, sans-serif;
    color: #206988;
}
.good-model{
    font: 12.77px 'Lucida Sans Unicode','Arial Regular', Arial, sans-serif;
    color: #1f2528;
}
.good-price{
    font: 12.77px  Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #114165;
}    
                                        /************* logos   *************/
.logos{
    margin-bottom: 20px;
} 
.logos:after{
    display: block;
    content: '';
    clear: both;
}                                      
.logos div{
    margin: 0 auto;
    width: 677px;
}
.logos div img{
    display: block;
    float: left;
    width: 75px;
    margin: 0 4px;
}


                                        /************* footer   *************/
footer{
    height: 100px;
    border: 1px solid rgb(36,42,60);
    background-color: rgb(33,58,77);
}   
footer menu{
    width: 300px;
    margin: 12px auto;
}
footer menu menuitem{
    font: 12px  'Arial Regular', Arial, sans-serif;
    color: #bec6c9;
    padding: 0 10px;
    border-right: 1px solid #8d989f;
}
footer menu menuitem:last-child{
    border-right: none;
}
footer menu menuitem:hover{
    color: #52abcb;
    cursor: pointer;
}
footer p{
    font: 10px  'Arial Regular', Arial, sans-serif;
    color: #7f4740;
//    width: 298px;
    margin: 6px auto;
    text-align: center;
   
}

/************* used fonts   *************/

.lsu-10{
    font-family:'Lucida Sans Unicode','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',  Geneva, Verdana, sans-serif;
    font-size: 10px;
}
.lsu-12{
    font-family:'Lucida Sans Unicode','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',  Geneva, Verdana, sans-serif;
    font-size: 12px;
}
.ar-11{
    font-family: 'Arial Regular',Arial, Helvetica, sans-serif;
    font-size: 11px;
 }
.ar-14{
    font-family: 'Arial Regular',Arial, Helvetica, sans-serif;
    font-size: 14px;
 }
p.text-right {
    text-align: right;
}
.group-label-control .text-begin {
    float: left;
    color: black;
}
.group-label-control .text-end {
    color: rgb(119,133,139);
}