body{
        background-color: #f9f9f9;
        height: 100%;
        width: 100%;
}

.container{
        background-color: white/*red*/;
        width: 77.5%;
        height: 100%;
        margin: 0 auto;
}
.header{
        height: 12.65%;
        width: 91.12%;
        margin: 0 auto;
        padding-top: 5.25%;}
.logo{
        height: 33.33%;
        width: 14.9%;
}
#img-logo{
        height: 100%;
        width: 100%;
}
.menu-top {
    width: 100%;
    background-color: #525151;
    color: white;
    list-style: none;
    line-height:300%;
}
.header ul li{
    display: inline; 
    margin-right: 5px; 
    padding: 3px; 
    font-size: 20px;
}
