body{
        background-color: #f9f9f9;
        height: 100%;
        width: 100%;
}
.container{
        background-color: white;
        width: 77.5%;
        height: 100%;
        margin: 0 auto;
        border: 2px solid;
        border-color: white #adacac;
}
.header{
        height: 12.65%;
        margin: 0 auto;
        margin-bottom:3%;
        padding-left: 3%;
        padding-right: 3%;
}
.columns {
    display: table;
    padding: 3%;
}

 .columns > div,
 .columns > noindex > div {
        display: table-cell;
}
.left-menu{
        background-color: white;
        float: left;
        height: 40%;
        width: 23%;
 }
.content{
        float:left;
        width:74%;
        height:100%;
        background-color: white;
}
.footer{
        margin: 5% 3%;
        background-color:#e1e1e1;
        display: table;
        width:94%;
}

/* header */
.logo{
        height: 33.33%;
        width: 14.9%;
        margin-bottom:3%;
}
#img-logo{
        height: 100%;
        width: 100%;
}
.menu-top {
    width: 100%;
    background-color: #525151;
    color: white;
    list-style:  none;
    line-height:300%;
}
.menu-top li{
    display: inline; 
    margin-right: 5px; 
    padding: 1% 3%; 
    font-size: 20px;
}
.menu-top li:hover {
    background-color:black;
    border:1px solid;
    border-top-color: #525151;
    border-bottom-color: #525151;
    border-left-color:#838383;
    border-right-color:#838383;
}  
/* left menu */  
.left-menu {
    color: #adacac;
    list-style:  none;
    width: 25%;
    line-height:300%;
}
.left-menu li{
    margin-right: 5px; 
    padding: 1% 10%; 
//    font-size: 20px;
    border:1px solid;
    border-color: #adacac;
}
.left-menu li:hover {
    color:#2c2c2c;
    padding-left: 15%;
    background-color: #f9f9f9;
}    
/* image */
.picture-frame {
    padding: 12% 10%;
    border: 1px solid;
    border-color: #adacac;
    margin-left: 5%;
    margin-bottom: 4%;
}
.picture-content{
    display: block;
    margin: 0 auto;
}
.content p{
    padding-left: 7%;
}
.footer ul {
    float: left;
    width: 50%;
    color: #515151;
    list-style: none;
    line-height: 300%;
    display: table-cell;
}
.footer ul li{
    display: inline; 
    margin-right: 5px; 
    padding: 1% 3%; 
    font-size: 20px;
}
.footer ul li:hover {
        text-decoration: underline;
}
.footer p{
    display: table-cell;
        float: left;
        width: 47%;
        text-align:right;
        line-height: 300%;
        padding-right: 3%;
}